*, *:active, *:focus, *:hover, input, input:active, input:focus, input:hover, textarea, textarea:active, textarea:focus, textarea:hover, .form-control, .form-control:active, .form-control:focus, .form-control:hover {
  outline: none;
  box-shadow: none;
  border-color: #ccc;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.clean-element {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

.trans {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}

.ovh {
  overflow: hidden;
}

label {
  font-weight: normal;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}
a[class*="--text-grey"]:not([class*='hover']):hover {
  color: #fff;
}
a[class*="--text-grey"].hover-tdu:hover, a[class*="--text-grey"].hover-tdu:active, a[class*="--text-grey"].hover-tdu:hover {
  text-decoration: underline;
  color: #999999;
}

.jq-checkbox, .jq-radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.jq-checkbox > input, .jq-radio > input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

input + .jq-checkbox__div {
  text-align: center;
  line-height: 12px;
  height: 14px;
  width: 14px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  font-size: 8px;
  color: transparent;
  cursor: pointer;
}
input + .jq-radio__div {
  width: 14px;
  height: 14px;
  border: 1px solid #c5c5c5;
  border-radius: 50%;
  text-align: center;
  line-height: 12px;
  font-size: 0;
}
input + .jq-radio__div:after {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -4px;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #191919;
  transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}

input:checked + .jq-checkbox__div {
  color: #999999;
}
input:checked + .jq-radio__div:after {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
}

input[type="radio"], input[type="checkbox"] {
  margin-top: 0;
}

.custom-hidden {
  display: none;
}

p:last-child {
  margin-bottom: 0;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
  vertical-align: middle;
}

[class*="--text-grey"], .--text-grey {
  color: #999999;
}

[class*="--text-red"], .--text-red {
  color: #dd0000;
}

[class*="--text-lime"], .--text-lime {
  color: #5fbd37;
}

[class*="--text-lightgrey"], .--text-lightgrey {
  color: #c5c5c5;
}

[class*="--text-lightblack"], .--text-lightblack, .semi-title {
  color: #191919;
}

[class*="--text-green"], .--text-green {
  color: #3fb750;
}

[class*="--text-red"], .--text-red {
  color: #dd0000;
}

[class*="--hover-text-black"]:hover, [class*="--hover-text-black"]:active, [class*="--hover-text-black"]:focus, .--hover-text-black:hover, .--hover-text-black:active, .--hover-text-black:focus {
  color: #191919;
}

.full-width {
  width: 100%;
}

.lhn {
  line-height: normal;
}

.display-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.white-color {
  color: #fff;
}

.fz0 {
  font-size: 0;
}

.fz10 {
  font-size: 10px;
}

.fz12 {
  font-size: 12px;
}

.fz13 {
  font-size: 13px;
}

.fz14, .semi-title {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz20 {
  font-size: 20px;
}

.fz22 {
  font-size: 22px;
}

.fz24 {
  font-size: 24px;
}

.fz28 {
  font-size: 28px;
}

.fz35 {
  font-size: 35px;
}

.fz41 {
  font-size: 41px;
}

.fz48 {
  font-size: 48px;
}

.fz80 {
  font-size: 80px;
}

.white-bg {
  background: #fff;
}

.black-bg {
  background: #000;
}

.ff-os {
  font-family: OpenSans, sans-serif, arial;
}

.ff-sf {
  font-family: SFUIText, sans-serif, arial;
}

.ff-sfb, .semi-title {
  font-family: SFUIText-Bold, sans-serif, arial;
}

.ff-sfh {
  font-family: SFUIText-Heavy, sans-serif, arial;
}

.vab {
  vertical-align: baseline;
}

.db {
  display: block;
  width: 100%;
}

button {
  background: none;
}
button:hover, button:focus, button:active {
  background: none;
}

.empty-button:focus, .filled-button:focus, .empty-button, .filled-button {
  padding: 0 15px;
  line-height: 26px;
  border: 2px solid #999999;
  color: #999999;
  border-radius: 3px;
  font-family: SFUIText-Bold, sans-serif, arial;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.empty-button.red-border, .red-border.filled-button {
  border-color: #dd0000;
}
.empty-button.thin, .thin.filled-button {
  border-width: 1px;
}
.empty-button:hover, .filled-button:hover {
  background: #999999;
  color: #fff;
}
.empty-button.expanded-grey[aria-expanded="true"], .expanded-grey[aria-expanded="true"].filled-button {
  background: #999999;
  color: #fff;
}
.empty-button[aria-expanded="true"] .icon-down_arrow, [aria-expanded="true"].filled-button .icon-down_arrow {
  transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
.empty-button.white, .white.filled-button {
  color: #fff;
  border-color: #fff;
}
.empty-button.white-color, .white-color.filled-button {
  color: #fff;
}
.empty-button.hover-red:hover, .hover-red.filled-button:hover {
  background: #dd0000;
  border-color: #dd0000;
  color: #fff;
}
.empty-button.big-button, .big-button.filled-button {
  line-height: 32px;
  padding: 0 25px;
}
.empty-button.black-border, .black-border.filled-button {
  border-color: #191919;
  color: #191919;
}
.empty-button.small-paddings, .small-paddings.filled-button {
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 767px) {
  .empty-button.mobile-small-paddings, .mobile-small-paddings.filled-button {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.filled-button {
  text-align: center;
  color: #fff;
  background: #191919;
  border-color: #191919;
}
.filled-button.white-bg {
  background: #fff;
  color: #191919;
  border-color: #fff;
}

.grey-color {
  color: #999999;
}

.lts1, .semi-title:not(.no-lts) {
  letter-spacing: 1px;
}

.lts2 {
  letter-spacing: 2px;
}

.mr3 {
  margin-right: 3px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr40 {
  margin-right: 40px;
}

.mr30 {
  margin-right: 30px;
}

.mb0 {
  margin-bottom: 0;
}

.mb2 {
  margin-bottom: 2px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb90 {
  margin-bottom: 90px;
}

.w100 {
  width: 100%;
}

.posr {
  position: relative;
}

.btn, .form-control {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 36px;
  height: 38px;
  font-family: SFUIText-Bold, sans-serif, arial;
  box-shadow: none;
}

.icon-top-minus-1 {
  position: relative;
  top: -1px;
}

.icon-top-minus-2 {
  position: relative;
  top: -2px;
}

.right-side__news-title {
  color: #000;
}
.right-side__news-title:hover {
  color: #000;
}

.lh12 {
  line-height: 1.2;
}

*.hover-black__link-red-icon {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
*.hover-black__link-red-icon [class*="icon-"] {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
*.hover-black__link-red-icon:hover:not(.inactive), *.hover-black__link-red-icon:active:not(.inactive), *.hover-black__link-red-icon:focus:not(.inactive) {
  color: #191919;
}
*.hover-black__link-red-icon:hover:not(.inactive) [class*="icon-"], *.hover-black__link-red-icon:active:not(.inactive) [class*="icon-"], *.hover-black__link-red-icon:focus:not(.inactive) [class*="icon-"] {
  color: #dd0000;
}

*.hover-black__icon [class*='icon-'] {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
*.hover-black__icon:hover [class*='icon-'] {
  color: #000;
}

.navbar-default, .navbar-collapse, .navbar-default .navbar-collapse {
  background: none;
  border: none;
  box-shadow: none;
}

.navbar-default {
  margin-bottom: 0;
}
.navbar-default .navbar-toggle {
  height: 20px;
  width: 20px;
  display: inline-block;
  box-sizing: content-box;
  margin: 0;
  vertical-align: middle;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus {
  float: none;
  margin: 0;
  background: none;
  border: none;
}
.navbar-default .navbar-toggle:not(.collapsed) .icon-bar {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  margin: 0;
}
.navbar-default .navbar-toggle:not(.collapsed) .icon-bar.middle {
  opacity: 0;
}
.navbar-default .navbar-toggle:not(.collapsed) .icon-bar.first {
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotate(45deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
  -moz-transform: translate3d(-50%, -50%, 0) rotate(45deg);
  -o-transform: translate3d(-50%, -50%, 0) rotate(45deg);
  margin: 0;
}
.navbar-default .navbar-toggle:not(.collapsed) .icon-bar.last {
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  -moz-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  -o-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  margin: 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #999999;
  height: 3px;
  border-radius: 0;
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.navbar-default .navbar-toggle .icon-bar.first {
  margin-top: -7px;
}
.navbar-default .navbar-toggle .icon-bar.last {
  margin-top: 7px;
}

.navbar-collapse {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .navbar-collapse.collapse {
    display: inline-block !important;
  }
}

.navbar {
  height: 80px;
  line-height: 80px;
}

.not-relative-pos {
  position: static;
}

.flex-middle {
  align-items: center;
}

.flex-end {
  align-items: flex-end;
}

.cursor-pointer {
  cursor: pointer;
}

.no-lts {
  letter-spacing: 0;
}

.semi-title {
  text-transform: uppercase;
}
.semi-title.grey {
  color: #999999;
}

.absolute-icon {
  position: relative;
  padding-left: 40px !important;
}
.absolute-icon > [class*="icon-"].absolute {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 10px;
}
.absolute-icon > [class*="icon-"].absolute.left0 {
  left: 0;
}

.last-child-no-mb > *:last-child {
  margin-bottom: 0;
}

.last-child-no-mr > *:last-child {
  margin-right: 0;
}

.dot-separator {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #d5d5d5;
}

.flex-wrap {
  flex-wrap: wrap;
}

.round-image {
  border-radius: 100%;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
  display: block;
  border: none;
  width: 8px;
  height: 8px;
  margin-top: -5px;
  right: 10px;
  top: 50%;
  border-right: 2px solid #c5c5c5;
  border-bottom: 2px solid #c5c5c5;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.tdu {
  text-decoration: underline;
}

.grey-underline-text {
  border-bottom: 2px solid #999999;
}

.height100 {
  height: 100%;
}

.height500 {
  height: 500px;
}

.jspVerticalBar {
  width: 2px;
  background-color: transparent;
}

.jspTrack {
  background-color: transparent;
}

.jspDrag {
  background: #c5c5c5;
  right: -10px;
}

.panel {
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .tab-display-block {
    display: block;
  }

  .tab-display-inline-block {
    display: inline-block;
    vertical-align: middle;
  }

  .tab-wa {
    width: auto;
  }

  .tab-mb15 {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-display-block {
    display: block;
  }

  .mobile-display-inline-block {
    display: inline-block;
    vertical-align: middle;
  }

  .mobile-wa {
    width: auto;
  }

  .mobile-no-mr {
    margin-right: 0;
  }

  .mobile-no-lts {
    letter-spacing: 0;
  }

  .mobile-fz-12 {
    font-size: 12px;
  }

  .mobile-fz-14 {
    font-size: 14px;
  }

  .mobile--mb0 {
    margin-bottom: 0;
  }

  .mobile--mb10 {
    margin-bottom: 10px;
  }

  .mobile--mb15 {
    margin-bottom: 15px;
  }

  .mobile--mb20 {
    margin-bottom: 20px;
  }

  .mobile-text-center {
    text-align: center;
  }

  .mobile-text-left {
    text-align: left;
  }

  .mobile-text-right {
    text-align: right;
  }

  .mobile-whs-normal {
    white-space: normal;
  }
}
