@charset "UTF-8";
[class*="icon-"]:not([class*="glyphicon"]), .jq-checkbox__div {
  font-family: "mazda-icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
}

[class*="icon-"]:not([class*="glyphicon"]):not(.lh-auto) {
  line-height: 1;
}

[class*="glyphicon-"] {
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.icon-checked-mark:before, .jq-checkbox__div:before {
  content: "";
}

.icon-actions:before {
  content: "";
}

.icon-car:before {
  content: "";
}

.icon-checked-mark:before {
  content: "";
}

.icon-comment:before {
  content: "";
}

.icon-double_arrow:before {
  content: "";
}

.icon-double_arrow_back:before {
  content: "";
}

.icon-down_arrow:before {
  content: "";
}

.icon-email:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-favorite:before {
  content: "";
}

.icon-forward-arrow:before {
  content: "";
}

.icon-google_plus:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-insurance:before {
  content: "";
}

.icon-leasing:before {
  content: "";
}

.icon-left_arrow:before {
  content: "";
}

.icon-left-right:before {
  content: "";
}

.icon-like:before {
  content: "";
}

.icon-location_pin:before {
  content: "";
}

.icon-more:before {
  content: "";
}

.icon-none_avatar:before {
  content: "";
}

.icon-notifications:before {
  content: "";
}

.icon-page_not_find_icon:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-photo-camera:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-rate:before {
  content: "";
}

.icon-remove:before {
  content: "";
}

.icon-right_arrow:before {
  content: "";
}

.icon-road:before {
  content: "";
}

.icon-sale_car:before {
  content: "";
}

.icon-send:before {
  content: "";
}

.icon-service:before {
  content: "";
}

.icon-settings:before {
  content: "";
}

.icon-share:before {
  content: "";
}

.icon-test_drive:before {
  content: "";
}

.icon-ticket:before {
  content: "";
}

.icon-tumblr:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-umbrella:before {
  content: "";
}

.icon-up_arrow:before {
  content: "";
}

.icon-views:before {
  content: "";
}

.icon-wheel:before {
  content: "";
}

.icon-wrench:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

.icon-zoom:before {
  content: "";
}

.icon-metro_indicator {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  width: 5px;
  height: 5px;
}
.icon-metro_indicator.green {
  background: #39b54a;
}

.icon-check {
  background-image: url('../images/icons-2x-s3069be39ef.png');
  background-size: 17px auto;
  background-position: 0 -21px;
  height: 14px;
  width: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -8px;
}

.icon-rouble {
  background-image: url('../images/icons-2x-s3069be39ef.png');
  background-size: 17px auto;
  background-position: 0 -60px;
  height: 14px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -6px;
}
