.popups-btn-panel {
  width: 350px;
  height: 100%;
  padding: 50px 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.pt15 {
  padding-top: 15px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.plr30 {
  padding-left: 30px;
  padding-right: 30px;
}

.plr50 {
  padding-left: 50px;
  padding-right: 50px;
}

.mb3 {
  margin-bottom: 3px;
}

.mb18 {
  margin-bottom: 18px;
}

.mb52 {
  margin-bottom: 52px;
}

.lh36 {
  line-height: 36px;
}

.modal-dialog {
  width: 500px;
  margin: 172px auto 30px auto;
}

.modal-sm {
  width: 350px;
}
.modal-sm .modal-body {
  padding: 40px 20px 20px 20px;
}

.modal-lg {
  width: 800px;
}
.modal-lg .modal-body {
  padding: 10px 20px 10px 10px;
}
.modal-lg .btn-close {
  top: 10px;
  right: 10px;
}

.modal-xs {
  width: 290px;
}
.modal-xs .modal-body {
  padding: 40px 20px 20px 20px;
}
.modal-xs .btn-close {
  top: 10px;
  right: 10px;
}

.modal-header {
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 5px;
}

.modal-body {
  padding: 50px 60px 30px 60px;
  position: relative;
}

.modal-footer {
  padding: 25px 60px 30px 60px;
  border-top: 1px solid #d5d5d5;
  background: #fff;
  text-align: left;
}

.modal-content {
  background: none;
  border: none;
  box-shadow: none;
}
.modal-content:hover, .modal-content:focus, .modal-content:active {
  border: none;
}

.btn-close {
  width: 24px;
  height: 24px;
  background: none;
  padding: 0;
  border: none;
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 10;
  cursor: pointer;
}
.btn-close:hover, .btn-close:focus, .btn-close:active {
  background: none;
  border: none;
}
.btn-close:hover > span, .btn-close:focus > span, .btn-close:active > span {
  background: #777777;
}
.btn-close:hover:visited:hover, .btn-close:hover:visited:focus, .btn-close:hover:visited:active, .btn-close:focus:visited:hover, .btn-close:focus:visited:focus, .btn-close:focus:visited:active, .btn-close:active:visited:hover, .btn-close:active:visited:focus, .btn-close:active:visited:active {
  background: none;
  border: none;
}
.btn-close:hover:visited:hover > span, .btn-close:hover:visited:focus > span, .btn-close:hover:visited:active > span, .btn-close:focus:visited:hover > span, .btn-close:focus:visited:focus > span, .btn-close:focus:visited:active > span, .btn-close:active:visited:hover > span, .btn-close:active:visited:focus > span, .btn-close:active:visited:active > span {
  background: #777777;
}

.line-gray-first {
  display: block;
  width: 100%;
  height: 3px;
  background: #999999;
  position: absolute;
  top: 10px;
  transform: rotate(45deg);
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}

.line-gray-second {
  display: block;
  width: 100%;
  height: 3px;
  background: #999999;
  position: absolute;
  top: 10px;
  transform: rotate(-45deg);
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}

.toggle-show-pass {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #d5d5d5;
  font-size: 0;
}

.toggle-show-pass__checkbox {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.toggle-show-pass__checkbox:hover + i {
  color: #000;
}
.toggle-show-pass__checkbox:checked + i {
  color: #000;
}
.toggle-show-pass__checkbox + i {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}

.toggle-runner {
  width: 65px;
  height: 28px;
  position: relative;
  flex: 1 0 auto;
}

.toggle-runner__bg {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #999999;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #d5d5d5, #e5e5e5);
  position: absolute;
  top: 0;
  left: 0;
}

.toggle-runner__circle {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom right, #fff, #bdbdbd);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;
}

.toggle-runner__checkbox {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  opacity: 0;
  cursor: pointer;
}
.toggle-runner__checkbox:checked + .toggle-runner__circle {
  right: auto;
  left: -1px;
}
.toggle-runner__checkbox:checked ~ .toggle-runner__bg {
  background: linear-gradient(to bottom, #dd0001, #dd0040);
}
.toggle-runner__checkbox:checked ~ .toggle-runner__select-first {
  opacity: 0;
}
.toggle-runner__checkbox:checked ~ .toggle-runner__select-second {
  opacity: 1;
}

.toggle-runner__select-first {
  margin: 4px 0 0 7px;
  float: left;
  color: #c5c5c5;
  position: relative;
  z-index: 10;
  opacity: 1;
}

.toggle-runner__select-second {
  margin: 4px 10px 0 0;
  float: right;
  color: #fff;
  position: relative;
  z-index: 10;
  opacity: 0;
}

.square-gray-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 20px;
  color: #fff;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.square-gray-link:hover, .square-gray-link:focus, .square-gray-link:active {
  background: #777777;
  color: #fff;
}
.square-gray-link:hover:visited:hover, .square-gray-link:hover:visited:focus, .square-gray-link:hover:visited:active, .square-gray-link:focus:visited:hover, .square-gray-link:focus:visited:focus, .square-gray-link:focus:visited:active, .square-gray-link:active:visited:hover, .square-gray-link:active:visited:focus, .square-gray-link:active:visited:active {
  background: #777777;
  color: #fff;
}
.square-gray-link:last-child {
  margin-right: 0;
}

.entry-field {
  height: 40px;
  padding: 0 10px;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.entry-field.popup-textarea {
  max-width: 100%;
  min-height: 85px;
  padding: 10px;
}
.entry-field.h38 {
  height: 38px;
}
.entry-field.border-none {
  border: none;
}

.border-red {
  border-color: #dd0000;
}
.border-red:hover, .border-red:focus, .border-red:active {
  border-color: #dd0000;
}

.border-green {
  border-color: #5fbd37;
}
.border-green:hover, .border-green:focus, .border-green:active {
  border-color: #5fbd37;
}

.btn-inactive {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
}
.btn-inactive:hover, .btn-inactive:focus .btn-inactive:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
}
.btn-inactive:visited:hover, .btn-inactive:visited:focus .btn-inactive:visited:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  color: #fff;
}

.b-error-message {
  width: 600px;
  padding: 25px 17px 50px 17px;
  margin: 0 auto;
}

.logo-square.mt0 {
  margin-top: 0;
}

.b-inline-inputs__b-left {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-right: 8px;
}

.b-inline-inputs__b-right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-left: 7px;
  font-size: 14px;
}

.b-notification-message {
  min-height: 30px;
  padding: 5px 0;
}
.b-notification-message-sm {
  min-height: 20px;
  padding: 0;
}

.b-inline-btn {
  margin-bottom: 10px;
  font-size: 0;
}

.b-inline-btn__b-left {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding-right: 10px;
  font-size: 14px;
}

.b-inline-btn__b-right {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  padding-left: 10px;
  font-size: 14px;
}

.b-inline-checkbox {
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;
  margin-right: 5px;
  font-size: 13px;
}

.b-inline-checkbox-label {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
}

.b-delivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.b-popup-text-box p {
  margin-bottom: 30px;
}
.b-popup-text-box p:last-child {
  margin-bottom: 0;
}

.star-red {
  position: relative;
}
.star-red:before {
  content: "*";
  display: inline;
  color: #dd0000;
  position: absolute;
  top: -3px;
  left: -12px;
}

.modal-lg-nav {
  width: 30%;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.modal-lg-nav__item {
  display: block;
}
.modal-lg-nav__item:last-child:after {
  content: "";
  height: 0;
}
.modal-lg-nav__item:after {
  content: "";
  display: block;
  width: calc(100% - 42px);
  height: 1px;
  background: #d5d5d5;
  margin-left: 42px;
}
.modal-lg-nav__item > .panel-collapse {
  width: 70%;
  height: 345px;
  position: absolute;
  left: 30%;
  top: 60px;
  padding-left: 20px;
  padding-right: 10px;
}

.modal-lg-nav__link {
  display: flex;
  min-height: 65px;
  width: 100%;
  padding: 10px 0;
  align-items: center;
  justify-content: flex-start;
  line-height: 16px;
  color: #191919;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.modal-lg-nav__link:hover, .modal-lg-nav__link:focus, .modal-lg-nav__link:active {
  color: #191919;
}
.modal-lg-nav__link:hover .modal-lg-nav__circle, .modal-lg-nav__link:focus .modal-lg-nav__circle, .modal-lg-nav__link:active .modal-lg-nav__circle {
  background: #191919;
}
.modal-lg-nav__link:hover:visited:hover, .modal-lg-nav__link:hover:visited:focus, .modal-lg-nav__link:hover:visited:active, .modal-lg-nav__link:focus:visited:hover, .modal-lg-nav__link:focus:visited:focus, .modal-lg-nav__link:focus:visited:active, .modal-lg-nav__link:active:visited:hover, .modal-lg-nav__link:active:visited:focus, .modal-lg-nav__link:active:visited:active {
  color: #191919;
}
.modal-lg-nav__link:hover:visited .modal-lg-nav__circle, .modal-lg-nav__link:focus:visited .modal-lg-nav__circle, .modal-lg-nav__link:active:visited .modal-lg-nav__circle {
  background: #191919;
}

.modal-lg-nav__link.collapsed {
  color: #999999;
}
.modal-lg-nav__link.collapsed .modal-lg-nav__circle {
  background: #999999;
}

.modal-lg-nav__circle {
  width: 32px;
  height: 32px;
  background: #191919;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}

.modal-lg-nav__link-text {
  width: calc(100% - 40px);
  font-size: 14px;
}

.modal-lg__header {
  display: block;
  position: absolute;
  left: 30%;
  padding: 5px 30px 0 20px;
  margin-bottom: 30px;
}
.modal-lg__header br {
  display: none;
}

.modal-lg__b-content {
  width: 100% !important;
  height: 345px;
  background: #fff;
}
.modal-lg__b-content .jspContainer .jspPane {
  padding-right: 20px !important;
}
.modal-lg__b-content .jspContainer .jspVerticalBar {
  width: 4px;
}

.modal-lg__b-content-img {
  width: 100%;
  height: auto;
}

.icon-arrows {
  background-image: url('../images/icons-2x-s3069be39ef.png');
  background-size: 17px auto;
  background-position: 0 0;
  height: 16px;
  width: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8.5px;
}

.icon-check {
  background-image: url('../images/icons-2x-s3069be39ef.png');
  background-size: 17px auto;
  background-position: 0 -21px;
  height: 14px;
  width: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -8px;
}

.icon-road {
  background-image: url('../images/icons-2x-s3069be39ef.png');
  background-size: 17px auto;
  background-position: 0 -40px;
  height: 15px;
  width: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7.5px;
  margin-left: -8.5px;
}

.icon-rouble {
  background-image: url('../images/icons-2x-s3069be39ef.png');
  background-size: 17px auto;
  background-position: 0 -60px;
  height: 14px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -6px;
}

.icon-umbrella {
  background-image: url('../images/icons-2x-s3069be39ef.png');
  background-size: 17px auto;
  background-position: 0 -79px;
  height: 17px;
  width: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8.5px;
  margin-left: -8.5px;
}

.icon-wrench {
  background-image: url('../images/icons-2x-s3069be39ef.png');
  background-size: 17px auto;
  background-position: 0 -101px;
  height: 17px;
  width: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8.5px;
  margin-left: -8.5px;
}

@media screen and (max-width: 992px) {
  .modal-lg {
    width: 750px;
    margin: 15px auto 15px auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .b-error-message {
    width: 290px;
  }
  .b-error-message > .filled-button {
    width: 100%;
  }

  .modal-dialog, .modal-lg, .modal-sm {
    width: 320px;
    margin: 15px auto 15px auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .modal-dialog .modal-body {
    padding: 50px 20px 30px 20px;
  }
  .modal-dialog .modal-footer {
    padding: 25px 20px 20px 20px;
  }

  .modal-sm .modal-body {
    padding: 40px 20px 20px 20px;
  }

  .modal-lg .modal-body {
    padding: 20px 0 0 0;
  }

  .b-inline-btn {
    margin-bottom: 0;
  }

  .b-inline-btn__b-left {
    display: block;
    width: 100%;
    padding-right: 0;
  }

  .b-inline-btn__b-right {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
    text-align: center;
  }
  .b-inline-btn__b-right > .empty-button {
    width: auto;
    padding: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 16px;
    color: #a1a1a1;
  }
  .b-inline-btn__b-right > .empty-button:hover, .b-inline-btn__b-right > .empty-button:focus, .b-inline-btn__b-right > .empty-button:active {
    background: none;
    border-bottom: 2px solid #a1a1a1;
  }
  .b-inline-btn__b-right > .empty-button:visited:hover, .b-inline-btn__b-right > .empty-button:visited:focus, .b-inline-btn__b-right > .empty-button:visited:active {
    background: none;
    border-bottom: 2px solid #a1a1a1;
  }

  .modal-body .mb30 > .fz13 {
    font-size: 14px;
  }
  .modal-body .mb90 {
    margin-bottom: 50px;
  }

  .b-inline-inputs__b-left {
    display: block;
    width: 100%;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .b-inline-inputs__b-right {
    display: block;
    width: 100%;
    padding-left: 0;
  }

  .popup-autorisation-back-btn-wrap > .empty-button {
    padding-left: 20px;
    padding-right: 20px;
  }

  .popup-processing-btn-wrap {
    margin-bottom: 20px;
  }

  .modal-lg__header {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    position: static;
    text-align: center;
  }
  .modal-lg__header br {
    display: inline;
  }

  .modal-lg-nav {
    width: 100%;
  }

  .modal-lg-nav__item {
    padding: 0 20px;
    border-top: 1px solid #d5d5d5;
  }
  .modal-lg-nav__item:after {
    display: none;
  }
  .modal-lg-nav__item > .panel-collapse {
    width: 100%;
    position: static;
    padding-left: 0;
    padding-right: 0;
  }

  .modal-lg-nav__link-text {
    width: 100%;
  }

  .modal-lg__b-content {
    height: auto;
    padding-bottom: 20px;
  }
  .modal-lg__b-content > .mb35 {
    margin-bottom: 15px;
  }

  .modal-lg-nav__arrow {
    margin-left: 10px;
    position: relative;
  }
  .modal-lg-nav__arrow:before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-right: 2px solid #9c9c9c;
    border-bottom: 2px solid #9c9c9c;
    transform: rotate(45deg);
  }

  .modal-lg-nav__arrow {
    position: relative;
  }
  .modal-lg-nav__arrow:before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-right: 2px solid #9c9c9c;
    border-bottom: 2px solid #9c9c9c;
    transform: rotate(225deg);
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
  }

  .modal-lg-nav__link.collapsed .modal-lg-nav__arrow:before {
    transform: rotate(45deg);
  }
}
