.pt15 {
  padding-top: 15px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.plr30 {
  padding-left: 30px;
  padding-right: 30px;
}

.plr50 {
  padding-left: 50px;
  padding-right: 50px;
}

.mb3 {
  margin-bottom: 3px;
}

.mb18 {
  margin-bottom: 18px;
}

.mb52 {
  margin-bottom: 52px;
}

.lh36 {
  line-height: 36px;
}

.modal-dialog {
  width: 500px;
  margin: 172px auto 30px auto;
}

.modal-header {
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 5px;
}

.modal-body {
  padding: 50px 60px 30px 60px;
  position: relative;
}

.modal-content {
  background: none;
  border: none;
  box-shadow: none;
}
.modal-content:hover, .modal-content:focus, .modal-content:active {
  border: none;
}

.btn-close {
  width: 24px;
  height: 24px;
  background: none;
  padding: 0;
  border: none;
  position: absolute;
  top: 13px;
  right: 13px;
  cursor: pointer;
}
.btn-close:hover, .btn-close:focus, .btn-close:active {
  background: none;
  border: none;
}
.btn-close:hover > span, .btn-close:focus > span, .btn-close:active > span {
  background: #777777;
}
.btn-close:hover:visited:hover, .btn-close:hover:visited:focus, .btn-close:hover:visited:active, .btn-close:focus:visited:hover, .btn-close:focus:visited:focus, .btn-close:focus:visited:active, .btn-close:active:visited:hover, .btn-close:active:visited:focus, .btn-close:active:visited:active {
  background: none;
  border: none;
}
.btn-close:hover:visited:hover > span, .btn-close:hover:visited:focus > span, .btn-close:hover:visited:active > span, .btn-close:focus:visited:hover > span, .btn-close:focus:visited:focus > span, .btn-close:focus:visited:active > span, .btn-close:active:visited:hover > span, .btn-close:active:visited:focus > span, .btn-close:active:visited:active > span {
  background: #777777;
}

.line-gray-first {
  display: block;
  width: 100%;
  height: 3px;
  background: #999999;
  position: absolute;
  top: 10px;
  transform: rotate(45deg);
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}

.line-gray-second {
  display: block;
  width: 100%;
  height: 3px;
  background: #999999;
  position: absolute;
  top: 10px;
  transform: rotate(-45deg);
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}

.toggle-show-pass {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #d5d5d5;
  font-size: 0;
}

.toggle-show-pass__checkbox {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.toggle-show-pass__checkbox:hover + i {
  color: #000;
}
.toggle-show-pass__checkbox:checked + i {
  color: #000;
}
.toggle-show-pass__checkbox + i {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}

.toggle-runner {
  display: inline-block;
  width: 65px;
  height: 28px;
  position: relative;
}

.toggle-runner__bg {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #999999;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #d5d5d5, #e5e5e5);
  position: absolute;
  top: 0;
  left: 0;
}

.toggle-runner__circle {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom right, #fff, #bdbdbd);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;
}

.toggle-runner__checkbox {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  opacity: 0;
  cursor: pointer;
}
.toggle-runner__checkbox:checked + .toggle-runner__circle {
  right: auto;
  left: -1px;
}
.toggle-runner__checkbox:checked ~ .toggle-runner__bg {
  background: linear-gradient(to bottom, #dd0001, #dd0040);
}
.toggle-runner__checkbox:checked ~ .toggle-runner__select-first {
  opacity: 0;
}
.toggle-runner__checkbox:checked ~ .toggle-runner__select-second {
  opacity: 1;
}

.toggle-runner__select-first {
  margin: 4px 0 0 7px;
  float: left;
  color: #c5c5c5;
  position: relative;
  z-index: 10;
  opacity: 1;
}

.toggle-runner__select-second {
  margin: 4px 10px 0 0;
  float: right;
  color: #fff;
  position: relative;
  z-index: 10;
  opacity: 0;
}

.entry-field {
  height: 40px;
  padding: 0 10px;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.entry-field.h38 {
  height: 38px;
}
.entry-field.border-none {
  border: none;
}

.border-red {
  border-color: #dd0000;
}
.border-red:hover, .border-red:focus, .border-red:active {
  border-color: #dd0000;
}

.border-green {
  border-color: #5fbd37;
}
.border-green:hover, .border-green:focus, .border-green:active {
  border-color: #5fbd37;
}

.btn-inactive {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
}
.btn-inactive:hover, .btn-inactive:focus .btn-inactive:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
}
.btn-inactive:visited:hover, .btn-inactive:visited:focus .btn-inactive:visited:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  color: #fff;
}

.b-error-message {
  width: 600px;
  padding: 25px 17px 50px 17px;
  margin: 0 auto;
}

.logo-square.mt0 {
  margin-top: 0;
}

.b-inline-inputs {
  font-size: 0;
}

.b-inline-inputs__b-left {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-right: 8px;
}

.b-inline-inputs__b-right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-left: 7px;
  font-size: 14px;
}

.b-notification-message {
  min-height: 30px;
  padding: 5px 0;
}

.b-delivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .b-error-message {
    width: 290px;
  }
  .b-error-message > .filled-button {
    width: 100%;
  }
}
