@charset "UTF-8";
.main-header {
  order: 1;
}

.breadcrumbs {
  order: 2;
}

.content-area {
  order: 3;
}

.footer {
  order: 4;
}

body, html {
  font-family: OpenSans, sans-serif, arial;
  font-size: 14px;
  background: #191919;
}

.site-wrap {
  background: #191919;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  width: auto;
  box-sizing: content-box;
}

.rouble {
  display: inline-block;
  vertical-align: middle;
}

.icon-double_arrow.prev-arrow {
  position: relative;
  top: 1px;
  transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.cities-dropdown-button {
  color: #df1111;
  padding: 0;
  height: auto;
  width: auto;
  margin: 0;
  border: none;
  background: none;
}

.header__white-plate {
  line-height: 37px;
}

.header__black-plate {
  background: #000;
  line-height: 80px;
  height: 80px;
}

.adv-grid__description {
  height: 60px;
  overflow: hidden;
}

.b-logo__mazda img {
  max-width: 80%;
  max-height: 80%;
}

.logo-square {
  font-size: 0;
  height: 100px;
  width: 110px;
  background: #191919;
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
  border: 1px solid #c5c5c5;
  position: relative;
  z-index: 5;
}
.logo-square:not(:last-child) {
  margin-right: 5px;
}
.logo-square:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: "";
  line-height: normal;
  width: auto;
}
.logo-square:hover {
  color: #fff;
}

.b-logo__club {
  line-height: 1.8;
}

.header-menu__link {
  color: #999999;
  position: relative;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .header-menu__link {
    display: inline-block;
  }
}
.header-menu__link:hover {
  color: #fff;
}

.header-menu__listing {
  margin: 0 40px 0 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.header-menu__item:not(:last-child) {
  margin-right: 30px;
}
.header-menu__item:not(:last-child) .header-menu__link {
  display: block;
  position: relative;
}
.header-menu__item:not(:last-child) .header-menu__link:before {
  display: none;
  content: "";
  width: 1px;
  height: 20px;
  background: #999999;
  position: absolute;
  left: 100%;
  margin-left: 15px;
  top: 50%;
  margin-top: -10px;
}
@media screen and (min-width: 768px) {
  .header-menu__item:not(:last-child) .header-menu__link:before {
    display: block;
  }
}
.header-menu__item .header-menu__link:after {
  display: block;
  content: "";
  width: 0;
  height: 2px;
  background: #dd0000;
  left: 50%;
  position: absolute;
  top: 100%;
  margin-top: 3px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.header-menu__item .header-menu__link.active {
  color: #fff;
}
.header-menu__item .header-menu__link.active:after {
  left: 0;
  width: 100%;
}

.submenu-section__border-right {
  border-right: 1px solid #c5c5c5;
}

.header-submenu__link {
  color: #191919;
}

.header-submenu {
  padding: 30px 0;
  line-height: 60px;
  border-bottom: 1px solid #c5c5c5;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 4;
  margin-top: 0;
}

.breadcrumbs {
  padding: 20px 0 20px;
}

.breadcrumbs__item {
  color: #fff;
}
.breadcrumbs__item:not(:last-child):after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  width: 6px;
  height: 6px;
  margin: 0 4px;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

.header-logo__colomn {
  padding-right: 0;
}

.breadcrumbs__link {
  color: #999999;
}
.breadcrumbs__link:hover {
  color: #fff;
}

.block-title {
  font-size: 20px;
  font-family: SFUIText-Bold, sans-serif, arial;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 2px;
  line-height: 29px;
}
.block-title.mb0 {
  margin-bottom: 0;
}

.content-area__right-side {
  margin-bottom: 30px;
}
.content-area__right-side .block-title {
  line-height: 29px;
  font-size: 18px;
}

.filter-header .bootstrap-select {
  margin: 5px 15px 5px 0;
}

.content-area__section {
  padding: 20px;
}
.content-area__section.filter-header {
  padding-top: 15px;
  padding-bottom: 15px;
}
.content-area__section .full-width__image-remove-paddings-banner {
  margin-left: -20px;
  margin-right: -20px;
}

.adv-grid__logo {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.adv-grid__logo img {
  max-width: 100%;
  max-height: 100%;
}

.adv-grid__question {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.adv-grid__question:hover {
  background: #dd0000;
  color: #fff;
}

.adv-grid__activities .icon-favorite:hover {
  color: #191919;
}

.adv-grid__question {
  position: absolute;
  right: -20px;
  top: -5px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 1px solid #dd0000;
  line-height: 12px;
  font-size: 10px;
  color: #dd0000;
  background: #fff;
}

.adv-gird__content {
  border: 1px solid #d5d5d5;
  border-top: none;
  padding: 20px;
}

.cities-dropdown .icon-location_pin {
  font-size: 16px;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #191919;
  font-family: SFUIText-Bold, sans-serif, arial;
}

.content-area__section.has-border-bottom {
  position: relative;
}
.content-area__section.has-border-bottom:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 1px;
  content: "";
  background: #d5d5d5;
}

.adv-grid__title {
  min-height: 40px;
  box-sizing: content-box;
}
.adv-grid__title:not(.no-border) {
  border-bottom: 1px solid #d5d5d5;
}
.adv-grid__title:not(.no-padding) {
  padding-bottom: 15px;
}

.adv-grid__buttons .row {
  margin-left: -5px;
  margin-right: -5px;
}
.adv-grid__buttons [class*="col-"] {
  padding: 0 5px;
}
.adv-grid__buttons .empty-button {
  color: #191919;
  padding: 0 5px;
  text-align: center;
  border-color: #d5d5d5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.adv-grid__activities {
  line-height: 20px;
}

.b-pagination {
  padding-top: 5px;
}

.white-pagination .b-pagination-item {
  background: #fff;
}
.white-pagination .b-pagination-item .b-pagination-link {
  color: #999999;
}
.white-pagination .b-pagination-item.inactive .b-pagination-link {
  color: #c5c5c5;
}

.b-pagination-item {
  width: 35px;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
  background: #191919;
  font-family: SFUIText-Bold, sans-serif, arial;
  color: #fff;
}
.b-pagination-item:not(:last-child) {
  margin-right: 2px;
}
.b-pagination-item:first-child {
  border-radius: 3px 0 0 3px;
}
.b-pagination-item:last-child {
  border-radius: 0 3px 3px 0;
}
.b-pagination-item.inactive .b-pagination-link {
  color: #393939;
}
.b-pagination-item.current:not(.inactive) .b-pagination-link, .b-pagination-item.active:not(.inactive) .b-pagination-link, .b-pagination-item:hover:not(.inactive) .b-pagination-link {
  color: #dd0000;
}

.b-pagination-link {
  line-height: 35px;
  color: #fff;
  height: 35px;
  display: block;
}
.b-pagination-link:not(.fz0) {
  font-size: 14px;
}

.double-selectors .bootstrap-select:first-child .btn-default {
  border-right: none;
  border-radius: 4px 0 0 4px;
}
.double-selectors .bootstrap-select:last-child .btn-default {
  border-radius: 0 4px 4px 0;
}

.double-inputs [class*='col-'] {
  padding: 0;
}
.double-inputs [class*='col-']:first-child .form-control {
  border-radius: 2px 0 0 2px;
  border-right: 0;
}
.double-inputs [class*='col-']:last-child .form-control {
  border-radius: 0 2px 2px 0;
}

.right-form__reset-button {
  letter-spacing: 1px;
  color: #999999;
}
.right-form__reset-button.inactive {
  color: #d5d5d5;
}
.right-form__reset-button [class*='icon-'] {
  position: relative;
  top: -1px;
}

.js-show-all-params {
  cursor: pointer;
}
.js-show-all-params [class*='icon-'] {
  position: relative;
  top: -2px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.js-show-all-params.active [class*='icon-'] {
  transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.content-area:not(.left-direction) .content-area__right-side, .content-area:not(.left-direction) .content-area__left-side {
  float: right;
}

.content-area__right-side-item:not(:last-child) {
  margin-bottom: 30px;
}

.right-side__news-item, .right-side__feedback-item {
  display: block;
  padding-bottom: 15px;
}
.right-side__news-item:not(:last-child), .right-side__feedback-item:not(:last-child) {
  margin-bottom: 15px;
  border-bottom: 1px solid #d5d5d5;
}

.right-side__news-title {
  color: #191919;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.form-line:last-child {
  margin-bottom: 0;
}

.right-side__news-content {
  line-height: 1.3;
}

.content-area {
  margin-bottom: 80px;
}

.footer {
  background: #000;
}

.footer-top {
  padding: 60px 0 0;
  border-bottom: 1px solid #fff;
}

.footer-menu__first-item, .footer-menu__item {
  display: block;
}

.footer-menu__item {
  margin-bottom: 10px;
}

.footer-menu__first-link {
  color: #fff;
}
.footer-menu__first-link:hover {
  color: #fff;
}

.footer-menu__link {
  color: #999999;
}
.footer-menu__link:hover {
  color: #fff;
}

.footer-soc__wrapper {
  padding: 65px 0 10px;
  font-size: 21px;
}

.footer-soc__item:not(:last-child) {
  margin-right: 16px;
}

.footer-bottom {
  padding: 30px 0;
}

.copy-text {
  line-height: 3;
}

.footer-bottom__menu {
  line-height: 1.7;
}

.footer-bottom__item {
  position: relative;
  margin-right: 30px;
}
.footer-bottom__item:not(:last-child):after {
  display: block;
  content: "";
  height: 10px;
  position: absolute;
  left: 100%;
  margin-left: 14px;
  width: 1px;
  background: #999999;
  top: 50%;
  margin-top: -5px;
}

.right-side__buttons-wrapper.has-border-top {
  border-top: 1px solid #d5d5d5;
  padding-top: 15px;
}
.right-side__buttons-wrapper.absolute-bottom {
  position: absolute;
  bottom: 15px;
  left: 35px;
  right: 35px;
}

.main-page__news-grid [class*="col-"].main-page__news-grid-item__big {
  padding-top: 1px;
}

.content-block__tab-menu-item {
  position: relative;
}
.content-block__tab-menu-item:not(:last-child) {
  margin-right: 30px;
}
.content-block__tab-menu-item:not(:last-child):after {
  display: block;
  content: "";
  height: 80%;
  width: 1px;
  background: #999999;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  position: absolute;
  left: 100%;
  margin-left: 15px;
}
.content-block__tab-menu-item.active:before {
  position: absolute;
  content: "";
  top: 100%;
  margin-top: -5px;
  width: 100%;
  background: #dd0000;
  height: 2px;
  left: 0;
}
.content-block__tab-menu-item.active .content-block__tab-menu-link {
  color: #fff;
}
.content-block__tab-menu-item.active .content-block__tab-menu-link.active-black {
  color: #191919;
}

a.content-block__tab-menu-link {
  line-height: 28px;
  display: block;
}
a.content-block__tab-menu-link.active-black:hover {
  color: #191919;
}

.auto-catalog__item {
  margin-bottom: 2px;
  padding: 1px;
}

.auto-catalog__item-link {
  position: absolute;
  top: 0;
  left: 1px;
  right: 1px;
  bottom: 0;
  padding: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.5));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), transparent, rgba(0, 0, 0, 0.5));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), transparent, rgba(0, 0, 0, 0.5));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.5), transparent, rgba(0, 0, 0, 0.5));
  overflow: hidden;
}
.auto-catalog__item-link:hover .auto-catalog__bottom-bar {
  bottom: 0;
}

.auto-catalog__listing {
  margin: 0 -1px;
}

.auto-catalog__bottom-bar {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  padding: 10px;
  color: #cccccc;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  border-bottom: 4px solid #dd0000;
}

.auto-catalog__bottom-bar, .auto-catalog__top-bar {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
}

.right-side__fuel-prices {
  border-bottom: 1px solid #d5d5d5;
}

.catalog-item__rating {
  background: #dd0000;
  padding: 0 8px;
  line-height: 24px;
  position: relative;
  margin-left: -10px;
}
.catalog-item__rating:after {
  display: block;
  content: "";
  position: absolute;
  left: 100%;
  border: 12px solid transparent;
  border-left: 10px solid #dd0000;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.catalog-item__rating.ml-minus-20 {
  margin-left: -20px;
}

.catalog-item__right-image-side {
  padding: 15px 10px 40px;
  position: relative;
}

.catalog-item__right-image-side__bottom-info {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.catalog-item__additional-car-info:not(:last-child) {
  margin-bottom: 10px;
}
.catalog-item__additional-car-info p {
  margin-bottom: 5px;
}

.catalog-item__tabs-header {
  border-bottom: 1px solid #c5c5c5;
}
.catalog-item__tabs-header .catalog-item__tabs-link {
  padding: 0 25px 10px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.catalog-item__tabs-header .catalog-item__tabs-link:after {
  display: block;
  content: "";
  left: 50%;
  width: 0;
  height: 3px;
  background: #dd0000;
  position: absolute;
  top: 100%;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  margin-top: -1px;
}
.catalog-item__tabs-header .catalog-item__tabs-link:hover, .catalog-item__tabs-header .catalog-item__tabs-link:active, .catalog-item__tabs-header .catalog-item__tabs-link:focus {
  color: #191919;
}
.catalog-item__tabs-header .active > .catalog-item__tabs-link {
  color: #191919;
}
.catalog-item__tabs-header .active > .catalog-item__tabs-link:after {
  width: 100%;
  left: 0;
}

.catalog-item__chars-tab-container .has-border-bottom {
  border-bottom: 1px solid #c5c5c5;
}

.catalog-item__comments-item {
  padding: 15px 20px;
  border: 1px solid #c5c5c5;
}
.catalog-item__comments-item:not(:last-child) {
  margin-bottom: 20px;
}

.catalog-item__reviews-item {
  padding: 15px 0;
}
.catalog-item__reviews-item:not(:last-child) {
  border-bottom: 1px solid #c5c5c5;
}

.right-side__news-sub-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.custom-carouse__prev, .custom-carouse__next {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #191919;
  background: #fff;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.custom-carouse__prev [class*="icon-"], .custom-carouse__next [class*="icon-"] {
  position: relative;
  top: -2px;
}
.custom-carouse__prev:hover, .custom-carouse__next:hover {
  color: #dd0000;
}
.custom-carouse__prev.black-style, .custom-carouse__next.black-style {
  background: #191919;
  color: #fff;
}
.custom-carouse__prev.black-style:hover, .custom-carouse__next.black-style:hover {
  color: #dd0000;
}

.custom-carouse__next {
  border-radius: 0 3px 3px 0;
  margin-left: 1px;
}

.similar-cars-slider .display-flex {
  align-items: center;
}

.auto-model__image-right-side__item {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.auto-model__image-right-side__item.active {
  background: #f3f3f3;
}
.auto-model__image-right-side__item:not(:last-child) .auto-model__image-right-side__link:after {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  display: block;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #c5c5c5;
}

.auto-model__image-right-side__link {
  padding: 15px 10px;
  position: relative;
}

.auto-model__image-right-side__units {
  position: relative;
  height: 100%;
  overflow: auto;
}

.content-area__item:last-child {
  margin-bottom: 0;
}

.auto-model__modification-element {
  padding-left: 10px;
}
.auto-model__modification-element.active .auto-model__modification-element-link {
  background: #f3f3f3;
}

.auto-model__modification-element-link {
  padding: 5px 10px;
  border-radius: 3px;
}
.auto-model__modification-element-link:hover, .auto-model__modification-element-link:active, .auto-model__modification-element-link:focus {
  color: #191919;
}

.auto-model__modification-item {
  padding: 10px 0;
}
.auto-model__modification-item:last-child {
  padding-bottom: 0;
}
.auto-model__modification-item:not(:last-child) {
  border-bottom: 1px solid #c5c5c5;
}

.access-company-controll {
  background: #dd0000;
  padding: 8px 15px;
}

.access-to-controll-link {
  text-decoration: underline;
}
.access-to-controll-link:hover {
  color: #fff;
  text-decoration: underline;
}

.access-company-controll [data-js-hide]:hover {
  color: #fff;
}

#dealers-map {
  width: 100%;
  height: 300px;
}
#dealers-map.height500 {
  height: 500px;
}

.dealers-feedbacks__item-image-wrapper {
  width: 80px;
  margin-right: 20px;
  font-size: 0;
}

.dealers-feedbacks__item-image {
  border-radius: 100%;
}

.dealers-feedbacks__item-content {
  border-bottom: 1px solid #c5c5c5;
  width: 100%;
}

.dealers-feedbacks__item:last-child .dealers-feedbacks__item-content {
  border: none;
}

.dealers-catalog__item-icon {
  width: 32px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #c5c5c5;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
}
.dealers-catalog__item-icon:not(.no-margin), .dealers-catalog__item-icon:not(:last-child) {
  margin-right: 15px;
}

.dealers-catalog__item-border-section {
  padding-bottom: 20px;
  border-bottom: 1px solid #c5c5c5;
}

.dealers-filter__elements-listing {
  padding-left: 10px;
}

.models-logo__units {
  flex-flow: row wrap;
  margin-bottom: -30px;
}

input:checked + .holding-vacancy__check-quality {
  background: #d3d3d3;
  color: #fff;
}

.holding-vacancy {
  background: #f3f3f3;
  padding: 20px 5px;
  margin-left: -20px;
  margin-right: -20px;
}

.collapsing-link:not(.collapsed) > .icon-down_arrow {
  transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.holding-vacancy__result-item {
  padding: 15px;
  border: 1px solid #c5c5c5;
}

.holding-vacancy__result-listing {
  padding-top: 20px;
}

.news-listing__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.news-item:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #d5d5d5;
}

.news-item__content {
  padding-bottom: 20px;
  width: calc(100% - 175px);
}

.news-item__image-wrapper {
  width: 160px;
}

.news-content p:not(:last-child) {
  margin-bottom: 25px;
}
.news-content img {
  max-width: 100%;
}

.comments-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #c5c5c5;
}

.comments__avatar-wrapper {
  width: 48px;
  height: 48px;
  font-size: 0;
  border-radius: 100%;
  background: url(../images/no-avatar.png) no-repeat center center;
}

.comments__avatar {
  border-radius: 100%;
}

.comments__textarea-wrapper {
  background: #f3f3f3;
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  position: relative;
  padding-bottom: 30px;
}

.comments__textarea-container {
  width: calc(100% - 48px - 20px);
}

.comments__textarea-bottom {
  background: #e5e5e5;
  border-radius: 0 0 3px 3px;
}

.comments__textarea-bottom {
  line-height: 30px;
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.comments__textarea-content {
  padding: 45px 20px;
}

.comments-plus-minus-controll {
  position: relative;
}
.comments-plus-minus-controll:after {
  display: block;
  content: "";
  width: 1px;
  height: 14px;
  background: #d5d5d5;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
}

.comments-item {
  margin-top: 20px;
}
.comments-item:not(:last-child) {
  margin: 20px 0;
}

.comments__textarea-wrapper textarea.form-control {
  border: none;
  height: 100px;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  max-height: 1000px;
  color: #999999;
  font-family: OpenSans, sans-serif, arial;
}

.content-area__right-side-item.full-white-bg {
  overflow: hidden;
}
.content-area__right-side-item.full-white-bg:not(.no-buttons) {
  padding-bottom: 50px;
}
.content-area__right-side-item.full-white-bg .content-area__container {
  position: relative;
}
.content-area__right-side-item.full-white-bg .content-area__container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1000px;
  display: block;
  background: #fff;
}
.content-area__right-side-item.full-white-bg .content-area__section {
  position: relative;
  z-index: 1;
}

.grey-border-bottom, .dealers-map__item:not(:last-child) {
  border-bottom: 1px solid #c5c5c5;
}

.media-widget__image-wrapper {
  display: block;
  position: relative;
}
.media-widget__image-wrapper:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.media-widget__image-wrapper:not(.media-widget__video):before {
  font-family: "mazda-icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 11;
  font-size: 20px;
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.media-widget__image-wrapper:hover:after {
  opacity: 1;
}
.media-widget__image-wrapper:hover:not(.media-widget__video):before {
  opacity: 1;
}

.adv-grid__image-wrapper {
  overflow: hidden;
  font-size: 0;
}

.media-widget__video .icon-youtube {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 50px;
  color: #dd0000;
  opacity: 0.7;
  width: 100%;
  text-align: center;
  line-height: 50px;
  margin-top: -25px;
  z-index: 11;
}

.media-widget__video-bottom-text {
  bottom: 10px;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 11;
}

.main-page__news-grid .row, .main-page__news-grid [class*="col-"] {
  padding: 0;
  margin: 0;
}

.main-page__news-grid-item {
  background: #191919;
  position: relative;
  overflow: hidden;
}
.main-page__news-grid-item:not(.no-border-bottom) {
  border-bottom: 1px solid #191919;
}
.main-page__news-grid-item:not(.no-border-right) {
  border-right: 1px solid #191919;
}
.main-page__news-grid-item:before {
  width: 100%;
  padding-bottom: 56%;
  display: inline-block;
  content: "";
}
.main-page__news-grid-item:after {
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: block;
  content: "";
  z-index: 2;
  position: absolute;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.main-page__news-grid-item:hover:after {
  background: rgba(0, 0, 0, 0.8);
}
.main-page__news-grid-item:hover [class*='icon-'] {
  color: #dd0000;
}
.main-page__news-grid-item.small-grid-item .main-page__news-grid-bottom-line {
  bottom: 10px;
  padding: 0 10px;
}
.main-page__news-grid-item.small-grid-item .main-page__news-grid-top-line {
  top: 10px;
  padding: 0 10px;
}

.main-page__news-grid-image {
  position: absolute;
  height: 101%;
  width: 101%;
  object-fit: cover;
  left: 0;
  top: 0;
}

.main-page__news-grid-top-line {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  padding: 0 20px;
  display: block;
  z-index: 3;
}

.main-page__news-grid-bottom-line {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 0 20px;
  z-index: 3;
}

.main-page__rated-delers-item {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  box-shadow: inset 0 0 0 2px transparent;
}
.main-page__rated-delers-item:hover {
  box-shadow: inset 0 0 0 2px #dd0000;
}

.main-page__rated-delers-item {
  padding-bottom: 40px;
}

.main-page__rated-delers-item__bottom {
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
  padding: 0 20px;
}

.dealers-map__listing {
  position: absolute;
  width: 260px;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  padding-bottom: 50px;
}

.dealers-map__bottom {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  padding: 0 20px;
}

.dealers-map__item:not(:last-child) {
  padding-bottom: 15px;
}

.dealers-map__units {
  bottom: 50px;
  position: absolute;
  top: 110px;
  left: 20px;
  right: 10px;
  overflow: auto;
}

.dealers-map__listing-header {
  padding-bottom: 15px;
}

.jspContainer .dealers-map__item {
  margin-right: 10px;
}

.new-faces__item {
  width: 33.3333%;
}

.right-side__media .content-area__section {
  padding: 0;
}
.right-side__media .row {
  margin: 0;
}
.right-side__media [class*="col-"] {
  padding: 0;
}

.auto-model__sliders-control-jsp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.auto-model__sliders-control-jsp .jspVerticalBar {
  right: 3px;
  width: 5px;
}
.auto-model__sliders-control-jsp .jspDrag {
  border-radius: 3px;
}
.auto-model__sliders-control-jsp .jspPane {
  width: 100% !important;
}

.catalog-item__backto-modifications {
  margin-left: -20px;
  margin-right: -20px;
  padding: 0 20px 20px;
  margin-bottom: 20px;
}
