<div class="col-md-4 col-sm-4 col-sm-6 adv-grid__item mb15">
    <div class="adv-grid__image-wrapper">
        <img alt="" src="http://placehold.it/275x200" class="adv-grid__image full-width"/>
    </div>
    <div class="adv-gird__content">
        <div class="adv-grid__logo text-center mb10">
            <div class="dib posr">
                <img alt="" src="http://placehold.it/140x30"/>
                <a href="#" class="adv-grid__question">?</a>
            </div>
        </div>
        <div class="adv-grid__title text-uppercase text-center ff-sfb mb15">Продажа mazda cx-5 в москве</div>
        <div class="adv-grid__description --text-grey text-center mb15">
            2014 г, 2.5 АТ, 192 л.с., бензин,
            полный привод, внедорожник, красный
        </div>
        <div class="adv-grid__buttons clearfix mb20">
            <div class="row">
                <div class="col-xs-6">
                    <span class="empty-button  db big-button thin">1 121 250 км</span>
                </div>
                <div class="col-xs-6">
                    <span class="empty-button db big-button thin">1 150 600 <span class="rouble">&#x20bd;</span></span>
                </div>
            </div>
        </div>
        <div class="adv-grid__activities fz0">
            <div class="row">
                <div class="col-xs-2">
                    <a href="#" class="--text-grey hover-black__icon"><i class="icon-favorite fz20"></i></a>
                </div>
                <div class="col-xs-10 text-right">
                    <a href="#" class="adv-grid__item-link text-uppercase --text-grey lts1 ff-sfb hover-black__link-red-icon">
                        <span class="dib fz14 mr10">подробнее</span> <i class="icon-plus fz12"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>