<div
		class="{% if full_width == "true" %}col-xs-12 {% else %}col-md-4 col-sm-4 col-sm-6{% endif %} adv-grid__item {% if no_margin != "true" %}mb15 {% endif %} white-bg">
	<div class="adv-grid__image-wrapper">
		<img alt="" src="http://placehold.it/275x200" class="adv-grid__image full-width"/>
	</div>
	<div class="adv-gird__content">
		<div class="adv-grid__title text-uppercase text-center ff-sfb mb15 no-border no-padding">Продажа mazda cx-5 в москве</div>
		<div class="adv-grid__activities fz0 text-right">
			<a href="#" class="adv-grid__item-link text-uppercase -text-grey lts1 ff-sfb hover-black__link-red-icon">
				<span class="dib fz14 mr10">подробнее</span> <i class="icon-plus fz12"></i>
			</a>
		</div>
	</div>
</div>