<div class="auto-catalog__item col-md-4 col-xs-12">
    <div class="auto-catalog__top-bar fz14 ff-sfb">CX-5</div>
    <div class="auto-catalog__image"><img alt="" class="full-width" src="http://placehold.it/280x215"/></div>
    <div class="auto-catalog__bottom-bar">3-е поколение, 2013 - н.в.</div>
</div>