<div class="catalog-item__reviews-item display-flex space-between">
    <div class="catalog-item__reviews-image-wrapper mr10 fz0">
        <img src="http://placehold.it/125x100" alt="" class="catalog-item__reviews-image">
    </div>
    <div class="dib full-width">
        <p class="catalog-item__reviews-title mb5 --text-grey lts1 ff-sfb text-uppercase">Мазда 3 седан
            (3rd generation)</p>
        <div class="catalog-item__reviews-content mb5">
            <p>Доброго времени суток. Расскажу о лучшем, на мой взгляд представителе сегмента «С» этого года. А может и
                следующего! До этого владел: Митсу Галант 280 л.с 4вд, Мазда 6 (2007 г) Митсу L-200 (новый в 2011г),
                Ситроен С-4 (новый в 2012г)</p>
        </div>
        <div class="display-flex space-between">
            <div class="catalog-item__reviews-date --text-grey">7 ноября 2016</div>
            <a href="#" class="adv-grid__item-link text-uppercase --text-grey lts1 ff-sfb hover-black__link-red-icon">
                <span class="dib fz14 mr10">подробнее</span> <i class="icon-plus fz12"></i>
            </a>
        </div>
    </div>
</div>