<div class="auto-catalog__item posr col-md-4 col-xs-12">
    <a href="#" class="auto-catalog__item-link">
        <div class="auto-catalog__top-bar fz14 ff-sfb white-color">CX-5</div>
        <div class="auto-catalog__bottom-bar">3-е поколение, 2013 - н.в.</div>
    </a>
    <div class="auto-catalog__image"><img alt="" class="full-width" src="http://placehold.it/280x215"/></div>
</div>