<div class="catalog-item__comments-item">
	<p class="catalog-item__comments-title mb5 --text-grey lts1 ff-sfb text-uppercase">Мазда 3 седан (3rd generation)</p>
	<div class="catalog-item__comments-content mb5">
		<p>Доброго времени суток. Расскажу о лучшем, на мой взгляд представителе сегмента «С» этого года. А может и
			следующего! До этого владел: Митсу Галант 280 л.с 4вд, Мазда 6 (2007 г) Митсу L-200 (новый в 2011г), Ситроен С-4
			(новый в 2012г)</p>
	</div>
	<div class="catalog-item__comments-date --text-grey">7 ноября 2016</div>
</div>