<div class="mb35 white-bg content-area__section">
	<div class="display-flex space-between flex-middle dealers-catalog__item-border-section mobile-display-block mb20">
		<div class="mobile--mb20">
			<div class="mb20">
				<div class="catalog-item__rating ff-sfb dib --text-lightblack ml-minus-20 mr15">
					5.0
				</div>
				<div class="dib semi-title">независимость Mazda</div>
			</div>
			<div>
				<p class="absolute-icon mb15 --text-lightblack">
					<i class="icon-location_pin fz16 absolute left0 --text-grey"></i> Москва, Ярославское шоссе, 27
				</p>
				<p class="absolute-icon mb15 --text-lightblack">
					<i class="icon-phone fz16 absolute left0 --text-grey"></i> +7 (495) 721 88 44
				</p>
				<p class="absolute-icon mb15 --text-lightblack">
					<i class="icon-email fz16 absolute left0 --text-grey"></i> info@mazdacenter.ru
				</p>
			</div>
		</div>
		<div class="last-child-no-mb">
			<p class="mb20">
				<a href="#" class="empty-button grey text-center db absolute-icon">
					<i class="icon-ticket absolute"></i> <span class="lts1 mobile-no-lts text-uppercase">Официальный дилер</span>
				</a>
			</p>
			<p class="mb20">
				<a href="#" class="empty-button grey text-center db absolute-icon">
					<i class="icon-ticket absolute"></i> <span class="lts1 mobile-no-lts text-uppercase">Сервисный центр</span>
				</a>
			</p>
			<p class="mb20 text-right --text-grey mobile-text-center">
				<span class="dealers-catalog__item-icon dib text-center">
					<i class="icon-sale_car"></i>
				</span>
				<span class="dealers-catalog__item-icon dib text-center">
					<i class="icon-service"></i>
				</span>
				<span class="dealers-catalog__item-icon dib text-center">
					<i class="icon-settings"></i>
				</span>
				<span class="dealers-catalog__item-icon dib text-center">
					<i class="icon-test_drive"></i>
				</span>
			</p>
		</div>
	</div>
	<div class="dealers-catalog__item-text last-child-no-mb mb20">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci amet culpa delectus dicta dolor est ex,
			excepturi expedita facere facilis fuga, ipsam maiores mollitia necessitatibus neque non officiis perferendis
			possimus quaerat quod reprehenderit sint unde ut. Adipisci at enim facilis minima minus nemo nostrum, quaerat quis
			voluptate voluptatum?</p>
	</div>
	<div class="display-flex space-between flex-middle mobile-display-block">
		<div class="flex-item mobile--mb10">
			<div class="--text-grey fz12">
				<div class="hover-black__icon dib mr15">
					<i class="icon-views fz20"></i>
					<div class="dib">186</div>
				</div>
				<div class="hover-black__icon dib mr15">
					<i class="icon-comment"></i>
					<div class="dib">186</div>
				</div>
				<div class="hover-black__icon dib mr15">
					<i class="icon-like"></i>
					<div class="dib">186</div>
				</div>
				<div class="hover-black__icon dib mr15">
					<i class="icon-share"></i>
					<div class="dib">186</div>
				</div>
			</div>
		</div>
		<div class="flex-item text-right">
			<a href="#" class="semi-title grey hover-black__link-red-icon">
				<span class="dib">Подробнее о дилере</span>
				<i class="icon-plus"></i>
			</a>
		</div>
	</div>
</div>