<div class="dealers-feedbacks__item posr mb15 display-flex space-between mobile-display-block">
	<div class="dealers-feedbacks__item-image-wrapper">
		<img alt="" src="http://placehold.it/80x80" class="dealers-feedbacks__item-image full-width"/>
	</div>
	<div class="dealers-feedbacks__item-content">
		<div class="dealers-feedbacks__item-content-header display-flex space-between flex-middle mb15 mobile-display-block">
			<div class="dealers-feedbacks__item-content-title semi-title">Дмитрий осипов</div>
			<div class="dealers-feedbacks__item-content-date --text-grey mobile-fz-12 mobile-text-right">29 июля 2016</div>
		</div>
		<div class="dealers-feedbacks__item-text mb15 --text-grey text-left">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cupiditate deleniti dolorum ipsa natus quas
				quasi repellendus reprehenderit sapiente sequi? Accusantium dolores earum illum impedit nisi numquam odit
				officia praesentium!</p>
		</div>
		<div class="display-flex --text-grey fz12 mb15">
			<div class="hover-black__icon mr15">
				<i class="icon-views fz20"></i>
				<div class="dib">186</div>
			</div>
			<div class="hover-black__icon mr15">
				<i class="icon-comment"></i>
				<div class="dib">186</div>
			</div>
			<div class="hover-black__icon mr15">
				<i class="icon-like"></i>
				<div class="dib">186</div>
			</div>
			<div class="hover-black__icon mr15">
				<i class="icon-share"></i>
				<div class="dib">186</div>
			</div>
		</div>
	</div>
</div>