<li class="right-side__news-item">
	<p class="right-side__news-title"><a href="#" class="text-uppercase ff-sfb --text-lightblack --hover-text-black">Независимость мазда</a></p>
	<p class="right-side__news-sub-title text-uppercase">В чем секрет динамики?</p>
	<div class="right-side__news-content --text-grey mb15">
		<p>Компания Mazda представила новую версию популярной на российском рынке модели Mazda3. Автомобиль получил...</p>
	</div>
	<div class="right-side__news-bottom-info display-flex space-between --text-grey fz12">
		<div class="right-side__news-bottom-item hover-black__icon">
			<i class="icon-views fz20"></i>
			<div class="dib">186</div>
		</div>
		<div class="right-side__news-bottom-item hover-black__icon">
			<i class="icon-comment"></i>
			<div class="dib">186</div>
		</div>
		<div class="right-side__news-bottom-item hover-black__icon">
			<i class="icon-like"></i>
			<div class="dib">186</div>
		</div>
		<div class="right-side__news-bottom-item hover-black__icon">
			<i class="icon-share"></i>
			<div class="dib">186</div>
		</div>
	</div>
</li>