<div class="right-side__feedback-item col-xs-12 col-sm-6 col-md-12">
	<p class="-text-lightblack text-uppercase lts1 ff-sfb mb5">Дмитрий</p>
	<p class="fz12 -text-grey text-right mb5">23 июля 2016</p>
	<div class="right-side__news-content mb15">
		<p>Владею сх9 уже год. Брал с пробегом 68000. Машина отличная, перечислять достоинства не буду, их масса, Но есть
			нюансы. Главное тонкое место-шлицевое соединение АКПП и раздатки...</p>
	</div>
	<p class="text-right">
		<a href="#" class="adv-grid__item-link text-uppercase -text-grey lts1 ff-sfb hover-black__link-red-icon">
			<span class="dib fz14 mr10">подробнее</span> <i class="icon-plus fz12"></i>
		</a>
	</p>
</div>