<!--holding vacancy result item-->
<div class="holding-vacancy__result-item mb20">
    <div class="row mb15">
        <div class="col-sm-6">
            <a href="#" class="semi-title grey">Мастер по записи</a>
        </div>
        <div class="col-sm-6 text-right">
            от 60 000 &#x20bd;
        </div>
    </div>
    <div class="holding-vacancy__result-content mb10">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci alias animi aspernatur beatae, culpa cumque debitis deleniti, distinctio dolor dolore dolores ducimus ea earum eligendi enim eos facere fugiat illo laboriosam, minima mollitia pariatur quaerat quibusdam quod ratione reiciendis repellendus rerum sequi sint sunt tenetur veniam veritatis vitae voluptas.</p>
    </div>
    <div class="holding-vacancy__result-bottom --text-grey">
        <span class="dib mr15">Независимость Mazda</span>
        <span class="dib mr15">Москва</span>
        <span class="dib mr15"><i class="icon-metro_indicator green"></i> Домоедовская</span>
        <span class="dib mr15">4 октября</span>
    </div>
</div>
<!--holding vacancy result item-->