<div class="mb35 white-bg content-area__section">
	<div class="display-flex space-between mb20 mobile-display-block">
		<div class="mobile--mb20">
			<div class="dib semi-title">независимость</div>
		</div>
		<div class="last-child-no-mr">
			<img src="images/models-logo.png" class="dib mr10" alt="">
			<img src="images/models-logo.png" class="dib mr10" alt="">
			<img src="images/models-logo.png" class="dib mr10" alt="">
			<img src="images/models-logo.png" class="dib mr10" alt="">
			<img src="images/models-logo.png" class="dib mr10" alt="">
			<img src="images/models-logo.png" class="dib mr10" alt="">
		</div>
	</div>
	<div class="display-flex space-between dealers-catalog__item-border-section mb20 mobile-display-block">
		<div class="mobile--mb15">
			<p class="absolute-icon mb15 -text-lightblack">
				<i class="icon-location_pin fz16 absolute left0 -text-grey"></i> Москва, Ярославское шоссе, 27
			</p>
			<p class="absolute-icon mb15 -text-lightblack">
				<i class="icon-phone fz16 absolute left0 -text-grey"></i> +7 (495) 721 88 44
			</p>
			<p class="absolute-icon mb15 -text-lightblack">
				<i class="icon-email fz16 absolute left0 -text-grey"></i> info@mazdacenter.ru
			</p>
		</div>
		<div class="last-child-no-mb text-right mobile-text-left">
			<div class="mb10">Компании холдинга</div>
			<p class="semi-title grey mb5">Компания 1</p>
			<p class="semi-title grey mb5">Компания 2</p>
			<p class="semi-title grey mb5">Компания 3</p>
			<p><i class="icon-more -text-grey fz20"></i></p>
		</div>
	</div>
	<div class="dealers-catalog__item-text last-child-no-mb mb20 -text-grey">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci amet culpa delectus dicta dolor est ex,
			excepturi expedita facere facilis fuga, ipsam maiores mollitia necessitatibus neque non officiis perferendis
			possimus quaerat quod reprehenderit sint unde ut. Adipisci at enim facilis minima minus nemo nostrum, quaerat quis
			voluptate voluptatum?</p>
	</div>
	<div class="display-flex space-between flex-middle mobile-display-block">
		<div class="flex-item mobile--mb10">
			<div class="-text-grey fz12">
				<div class="hover-black__icon dib mr15">
					<i class="icon-views fz24"></i>
					<div class="dib">186</div>
				</div>
				<div class="hover-black__icon dib mr15">
					<i class="icon-actions fz20"></i>
					<div class="dib">186</div>
				</div>
				<div class="hover-black__icon dib mr15">
					<a href="#" class="hover-black__icon -text-grey"><i class="icon-favorite fz16"></i></a>
				</div>
			</div>
		</div>
		<div class="flex-item mobile-text-right">
			<a href="#" class="semi-title grey hover-black__link-red-icon">
				<span class="dib">Подробнее о холдинге</span>
				<i class="icon-plus"></i>
			</a>
		</div>
	</div>
</div>