<div class="main-page__event-item content-area__section">
	<div class="display-flex flex-middle space-between grey-border-bottom mb15">
		<div class="--text-lightblack text-uppercase ff-sfb mb15">
			Mazda дрифт
		</div>
		<div class="mb15">
			14 июля 2016
		</div>
	</div>
	<div class="mb10 --text-lightblack">
		<p>Рады сообщить, что 23-го августа 2016 года в г. Москве пройдут первые в России дрифт-гонки между спортивными
			атомобилями марки Mazda.
			Победитель получит возможность участвовать в международных дрифт-гонках, которые пройдут в Японии, между
			чемпионами всех стран. Победитль международных гонок в Японии получит приз новый концепт 2016-го ...</p>
	</div>
	<div class="row">
		<div class="col-sm-8 col-md-8 mobile--mb10">
			<div class="display-flex space-between --text-grey fz14">
				<div class="right-side__news-bottom-item hover-black__icon">
					<i class="icon-views fz24"></i>
					<div class="dib">186</div>
				</div>
				<div class="right-side__news-bottom-item hover-black__icon">
					<i class="icon-comment fz20"></i>
					<div class="dib">186</div>
				</div>
				<div class="right-side__news-bottom-item hover-black__icon">
					<i class="icon-like fz20"></i>
					<div class="dib">186</div>
				</div>
				<div class="right-side__news-bottom-item hover-black__icon">
					<i class="icon-share fz20"></i>
					<div class="dib">186</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 text-right">
			<a href="#" class="text-uppercase --text-grey lts1 ff-sfb hover-black__link-red-icon">
				<span class="dib fz14">подробнее</span> <i class="icon-plus fz12"></i>
			</a>
		</div>
	</div>
</div>