<div class="col-md-4">
	<div class="main-page__rated-delers-item white-bg posr content-area__section text-center height100">
		<div class="grey-border-bottom mb20">
			<p class="semi-title no-lts mb10">Независимость Mazda</p>
			<div class="fz16 mb15 --text-red">
				<i class="icon-rate"></i>
				<i class="icon-rate"></i>
				<i class="icon-rate"></i>
				<i class="icon-rate"></i>
				<i class="icon-rate"></i>
			</div>
			<p class="--text-grey">Адрес: 117342, Москва, ул. Введенского, д.4А</p>
			<p class="--text-grey mb15">Телефон: +7 (495) 737 47 20</p>
			<div class="mb20 --text-grey">
					<span class="dealers-catalog__item-icon dib text-center">
						<i class="icon-sale_car"></i>
					</span>
				<span class="dealers-catalog__item-icon dib text-center">
						<i class="icon-service"></i>
					</span>
				<span class="dealers-catalog__item-icon dib text-center">
						<i class="icon-settings"></i>
					</span>
				<span class="dealers-catalog__item-icon dib text-center">
						<i class="icon-test_drive"></i>
					</span>
			</div>
		</div>
		<p class="mb15 semi-title no-lts">Отзыв клиента</p>
		<p class="--text-grey">Отличный дилер, хорошие условия, обслуживание на высоком уровне.
			Я доволен!</p>

		<div class="main-page__rated-delers-item__bottom text-right">
			<a href="#" class="text-uppercase --text-grey lts2 ff-sfb hover-black__link-red-icon">
				<span class="dib fz14 mr5">Добавить отзыв</span> <i class="icon-plus fz12"></i>
			</a>
		</div>
	</div>
</div>