<a href="#" class="new-faces__item text-center dib mb20">
	<div class="news-faces__item-ava-wrapper fz0">
		<img alt="" src="http://placehold.it/60x60" class="news-faces__item-ava round-image" />
	</div>
	<p class="fz12 --text-lightblack">Павел</p>
</a>