<div class="news-item mb20 display-flex space-between">
	<div class="news-item__image-wrapper mr15 fz0">
		<img alt="" src="http://placehold.it/160x120" class="news-item__image full-width"/>
	</div>
	<div class="news-item__content posr">
		<p class="mb10 semi-title">Временное прекращение работы дилерского центра Mazda в г. Омск</p>
		<div class="news-item__text-wrapper mb10 --text-grey">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, cumque cupiditate dolorum ipsum iste magnam
				voluptate voluptates. Accusantium aliquid assumenda delectus ea earum libero</p>
		</div>
		<div class="news-listing__bottom display-flex space-between flex-middle">
			<div class="--text-grey">2 сентября 2016</div>
			<div>
				<a href="#" class="adv-grid__item-link text-uppercase --text-grey lts1 ff-sfb hover-black__link-red-icon">
					<span class="dib fz14 mr10">подробнее</span> <i class="icon-plus fz12"></i>
				</a>
			</div>
		</div>
	</div>
</div>