<li class="right-side__news-item">
    <p><a href="#" class="right-side__news-title text-uppercase">Независимость мазда</a>
    </p>
    <div class="right-side__news-content">
        <p>Компания Mazda представила новую версию популярной на российском рынке модели Mazda3. Автомобиль получил...</p>
    </div>
    <div class="right-side__news-bottom-info display-flex space-between">
        <div class="right-side__news-bottom-item">
            <i class="icon-views"></i> 186
        </div>
        <div class="right-side__news-bottom-item">
            <i class="icon-comment"></i> 186
        </div>
        <div class="right-side__news-bottom-item">
            <i class="icon-like"></i> 186
        </div>
        <div class="right-side__news-bottom-item">
            <i class="icon-share"></i> 186
        </div>
    </div>
</li>