<div class="col-md-4 adv-grid__item">
    <div class="adv-grid__image-wrapper"><img alt="" src="http://placehold.it/275x200" class=".adv-grid__image" /></div>
    <div class="adv-grid__logo">
        <img alt="" src="http://placehold.it/140x30"/>
        <div class="adv-grid__question">?</div>
    </div>
    <div class="adv-grid__title text-uppercase">Продажа mazda cx-5 в москве</div>
    <div class="adv-grid__description --text-grey">
        2014 г, 2.5 АТ, 192 л.с., бензин,
        полный привод, внедорожник, красный
    </div>
    <div class="adv-grid__buttons">
        <div class="row">
            <div class="col-xs-6">
                <span class="empty-btn thin">21 250 км</span>
            </div>
            <div class="col-xs-6">
                <span class="empty-btn thin">1 150 600 <span class="rouble">&#x20bd;</span></span>
            </div>
        </div>
    </div>
    <div class="adv-grid__activities">
        <div class="row">
            <div class="col-xs-4">
                <a href="#"><i class="icon-star"></i></a>
            </div>
            <div class="col-xs-8">
                <a href="#" class="text-uppercase">подробнее <i class="icon-plus"></i></a>
            </div>
        </div>
    </div>
</div>