<div class="catalog-item__comments-tab">
	<div class="catalog-item__comments-units mb15">
		{% for i in 1..12 %}
			{% include '../elements/catalog-comment__tab-item.twig' %}
		{% endfor %}
	</div>
</div>