<div class="row">
	<div class="owl-carousel" data-items="1">
		<img src="http://placehold.it/500x425" class="full-width" alt="">
		<img src="http://placehold.it/500x425" class="full-width" alt="">
		<img src="http://placehold.it/500x425" class="full-width" alt="">
		<img src="http://placehold.it/500x425" class="full-width" alt="">
		<img src="http://placehold.it/500x425" class="full-width" alt="">
		<img src="http://placehold.it/500x425" class="full-width" alt="">
		<img src="http://placehold.it/500x425" class="full-width" alt="">
	</div>
</div>