<div class="row">
	<div class="owl-carousel auto-slider">
		<img data-thumb='<img src="http://placehold.it/80x60" alt="" />' src="http://placehold.it/620x390" class="full-width" alt="">
		<img data-thumb='<img src="http://placehold.it/80x60" alt="" />' src="http://placehold.it/620x390" class="full-width" alt="">
		<img data-thumb='<img src="http://placehold.it/80x60" alt="" />' src="http://placehold.it/620x390" class="full-width" alt="">
		<img data-thumb='<img src="http://placehold.it/80x60" alt="" />' src="http://placehold.it/620x390" class="full-width" alt="">
		<img data-thumb='<img src="http://placehold.it/80x60" alt="" />' src="http://placehold.it/620x390" class="full-width" alt="">
		<img data-thumb='<img src="http://placehold.it/80x60" alt="" />' src="http://placehold.it/620x390" class="full-width" alt="">
		<img data-thumb='<img src="http://placehold.it/80x60" alt="" />' src="http://placehold.it/620x390" class="full-width" alt="">
	</div>
</div>