<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__listing">
            <li class="breadcrumbs__item has-separator"><a href="#" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item">Объявления</li>
        </ul>
    </div>
</div>