<div class="comments-container">
	<div class="comments-header display-flex flex-middle space-between mb15">
		<div class="semi-title">5 комментариев</div>
		<div class="--text-grey ff-sfb lts1">
			<span class="dib">Новое в начале</span> <i class="icon-down_arrow fz10"></i>
		</div>
	</div>

	<div class="display-flex space-between">
		<div class="comments__avatar-wrapper">
			<!--<img alt="" src="http://placehold.it/48x48" class="comments__avatar"/>-->
		</div>
		<form action="#" class="comments__textarea-wrapper comments__textarea-container not-registered text-center">
			<div class="comments__textarea-content --text-lightblack">
				Для добавления комментария
				<a href="#" class="--text-grey hover-tdu">авторизируйтесь</a> или
				<a href="#" class="--text-grey hover-tdu">зарегистрируйтесь</a>
				на сайте.
			</div>
			<div class="comments__textarea-bottom display-flex space-between flex-middle">
				<a href="#"><i class="icon-settings --text-grey --hover-text-black"></i></a>
				{# TODO заменить иконку #}
				<button class="clean-element --text-grey --hover-text-black" type="submit">
					<i class="icon-settings"></i>
					{# TODO заменить иконку #}
				</button>
			</div>
		</form>
	</div>

	<div class="display-flex space-between">
		<div class="comments__avatar-wrapper">
			<img alt="" src="http://placehold.it/48x48" class="comments__avatar"/>
		</div>
		<form action="#" class="comments__textarea-wrapper comments__textarea-container not-registered text-center">
			<textarea class="form-control" placeholder="Введите текст комментария..."></textarea>
			<div class="comments__textarea-bottom display-flex space-between flex-middle">
				<a href="#"><i class="icon-settings --text-grey --hover-text-black"></i></a>
				{# TODO заменить иконку #}
				<button class="clean-element --text-grey --hover-text-black" type="submit">
					<i class="icon-settings"></i>
					{# TODO заменить иконку #}
				</button>
			</div>
		</form>
	</div>
	<div class="comments-listing">
		<!-- START comments-item -->
		<div class="comments-item display-flex space-between">
			<div class="comments__avatar-wrapper fz0">
				<img alt="" src="http://placehold.it/48x48" class="comments__avatar full-width"/>
			</div>
			<div class="comments__textarea-container">
				<div class="comments__textarea-header mb5">
					<a href="#" class="ff-sfb --text-grey dib --hover-text-black mr5">HotDriver111</a>
					<span class="dib dot-separator mr5"></span>
					<span class="--text-grey dib">1 день, 2 часа назад</span>
				</div>
				<div class="comments__comment-text mb5">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet asperiores, beatae cupiditate debitis
						ducimus
						est incidunt magnam molestias obcaecati odio quibusdam quisquam sapiente, suscipit, voluptates. Ad impedit
						saepe tempore!</p>
				</div>
				<div class="comments__bottom-area">
					<div class="dib mr5 --text-lightblack">186</div>
					<div class="dib mr5 icon-top-minus-2 comments-plus-minus-controll posr">
						<a class="dib --text-grey --hover-text-black mr10 fz0" href="#">
							<i class="glyphicon-plus fz20"></i>
						</a>
						<a href="#" class="--text-grey --hover-text-black dib fz0">
							<i class="glyphicon-minus fz20"></i>
						</a>
					</div>
					<span class="dib dot-separator mr5"></span>
					<a href="#" class="--text-grey --hover-text-black">Ответить</a>
				</div>
				<!-- START comments-item -->
				<div class="comments-item display-flex space-between">
					<div class="comments__avatar-wrapper fz0">
						<img alt="" src="http://placehold.it/48x48" class="comments__avatar full-width"/>
					</div>
					<div class="comments__textarea-container">
						<div class="comments__textarea-header mb5">
							<a href="#" class="ff-sfb --text-grey dib --hover-text-black mr5">HotDriver111</a>
							<span class="dib dot-separator mr5"></span>
							<span class="--text-grey dib">1 день, 2 часа назад</span>
						</div>
						<div class="comments__comment-text mb5">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet asperiores, beatae cupiditate debitis
								ducimus
								est incidunt magnam molestias obcaecati odio quibusdam quisquam sapiente, suscipit, voluptates. Ad impedit
								saepe tempore!</p>
						</div>
						<div class="comments__bottom-area">
							<div class="dib mr5 --text-lightblack">186</div>
							<div class="dib mr5 icon-top-minus-2 comments-plus-minus-controll posr">
								<a class="dib --text-grey --hover-text-black mr10 fz0" href="#">
									<i class="glyphicon-plus fz20"></i>
								</a>
								<a href="#" class="--text-grey --hover-text-black dib fz0">
									<i class="glyphicon-minus fz20"></i>
								</a>
							</div>
							<span class="dib dot-separator mr5"></span>
							<a href="#" class="--text-grey --hover-text-black">Ответить</a>
						</div>
					</div>
				</div>
				<!-- // END comments-item -->
				<!-- START comments-item -->
				<div class="comments-item display-flex space-between">
					<div class="comments__avatar-wrapper fz0">
						<img alt="" src="http://placehold.it/48x48" class="comments__avatar full-width"/>
					</div>
					<div class="comments__textarea-container">
						<div class="comments__textarea-header mb5">
							<a href="#" class="ff-sfb --text-grey dib --hover-text-black mr5">HotDriver111</a>
							<span class="dib dot-separator mr5"></span>
							<span class="--text-grey dib">1 день, 2 часа назад</span>
						</div>
						<div class="comments__comment-text mb5">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet asperiores, beatae cupiditate debitis
								ducimus
								est incidunt magnam molestias obcaecati odio quibusdam quisquam sapiente, suscipit, voluptates. Ad impedit
								saepe tempore!</p>
						</div>
						<div class="comments__bottom-area">
							<div class="dib mr5 --text-lightblack">186</div>
							<div class="dib mr5 icon-top-minus-2 comments-plus-minus-controll posr">
								<a class="dib --text-grey --hover-text-black mr10 fz0" href="#">
									<i class="glyphicon-plus fz20"></i>
								</a>
								<a href="#" class="--text-grey --hover-text-black dib fz0">
									<i class="glyphicon-minus fz20"></i>
								</a>
							</div>
							<span class="dib dot-separator mr5"></span>
							<a href="#" class="--text-grey --hover-text-black">Ответить</a>
						</div>
						<!-- START comments-item -->
						<div class="comments-item display-flex space-between">
							<div class="comments__avatar-wrapper fz0">
								<img alt="" src="http://placehold.it/48x48" class="comments__avatar full-width"/>
							</div>
							<div class="comments__textarea-container">
								<div class="comments__textarea-header mb5">
									<a href="#" class="ff-sfb --text-grey dib --hover-text-black mr5">HotDriver111</a>
									<span class="dib dot-separator mr5"></span>
									<span class="--text-grey dib">1 день, 2 часа назад</span>
								</div>
								<div class="comments__comment-text mb5">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet asperiores, beatae cupiditate debitis
										ducimus
										est incidunt magnam molestias obcaecati odio quibusdam quisquam sapiente, suscipit, voluptates. Ad impedit
										saepe tempore!</p>
								</div>
								<div class="comments__bottom-area">
									<div class="dib mr5 --text-lightblack">186</div>
									<div class="dib mr5 icon-top-minus-2 comments-plus-minus-controll posr">
										<a class="dib --text-grey --hover-text-black mr10 fz0" href="#">
											<i class="glyphicon-plus fz20"></i>
										</a>
										<a href="#" class="--text-grey --hover-text-black dib fz0">
											<i class="glyphicon-minus fz20"></i>
										</a>
									</div>
									<span class="dib dot-separator mr5"></span>
									<a href="#" class="--text-grey --hover-text-black">Ответить</a>
								</div>
							</div>
						</div>
						<!-- // END comments-item -->
					</div>
				</div>
				<!-- // END comments-item -->
			</div>
		</div>
		<!-- // END comments-item -->
		<!-- START comments-item -->
		<div class="comments-item display-flex space-between">
			<div class="comments__avatar-wrapper fz0">
				<img alt="" src="http://placehold.it/48x48" class="comments__avatar full-width"/>
			</div>
			<div class="comments__textarea-container">
				<div class="comments__textarea-header mb5">
					<a href="#" class="ff-sfb --text-grey dib --hover-text-black mr5">HotDriver111</a>
					<span class="dib dot-separator mr5"></span>
					<span class="--text-grey dib">1 день, 2 часа назад</span>
				</div>
				<div class="comments__comment-text mb5">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet asperiores, beatae cupiditate debitis
						ducimus
						est incidunt magnam molestias obcaecati odio quibusdam quisquam sapiente, suscipit, voluptates. Ad impedit
						saepe tempore!</p>
				</div>
				<div class="comments__bottom-area">
					<div class="dib mr5 --text-lightblack">186</div>
					<div class="dib mr5 icon-top-minus-2 comments-plus-minus-controll posr">
						<a class="dib --text-grey --hover-text-black mr10 fz0" href="#">
							<i class="glyphicon-plus fz20"></i>
						</a>
						<a href="#" class="--text-grey --hover-text-black dib fz0">
							<i class="glyphicon-minus fz20"></i>
						</a>
					</div>
					<span class="dib dot-separator mr5"></span>
					<a href="#" class="--text-grey --hover-text-black">Ответить</a>
				</div>
			</div>
		</div>
		<!-- // END comments-item -->
	</div>
</div>