<div class="block-title text-uppercase">Фильтр</div>
<div class="right-side__news content-area__section white-bg">
    <form action="#" class="dealers-filter__form last-child-no-mb mb15">
        <div class="form-line mb15">
            <p class="mb5 gli">Сортировать по:</p>
            <div>
                <select class="selectpicker db" data-width="100%" multiple>
                    <option value="">Рейтинг (по убыванию)</option>
                    <option value="">item2</option>
                    <option value="">item3</option>
                    <option value="">item4</option>
                    <option value="">item5</option>
                    <option value="">item6</option>
                    <option value="">item7</option>
                    <option value="">item8</option>
                    <option value="">item9</option>
                </select>
            </div>
        </div>
        <div class="form-line mb15">
            <p class="mb5">Территория:</p>
            <div>
                <select class="selectpicker" data-width="100%" multiple title="Выберите из списка">
                    <option value="">Рейтинг (по убыванию)</option>
                    <option value="">item2</option>
                    <option value="">item3</option>
                    <option value="">item4</option>
                    <option value="">item5</option>
                    <option value="">item6</option>
                    <option value="">item7</option>
                    <option value="">item8</option>
                    <option value="">item9</option>
                </select>
            </div>
        </div>
        <div class="form-line mb15">
            <p class="mb5">Тип услуг:</p>
            <div>
                <select class="selectpicker" data-width="100%" multiple title="Выберите из списка">
                    <option value="">Рейтинг (по убыванию)</option>
                    <option value="">item2</option>
                    <option value="">item3</option>
                    <option value="">item4</option>
                    <option value="">item5</option>
                    <option value="">item6</option>
                    <option value="">item7</option>
                    <option value="">item8</option>
                    <option value="">item9</option>
                </select>
            </div>
        </div>
        <div class="form-line mb15">
            <p class="mb5">Тип компании:</p>
            <ul class="clean-element dealers-filter__elements-listing last-child-no-mb">
                <li class="dealers-filter__elements-item mb5">
                    <label class="ff-sfb --text-grey"><input type="checkbox" class="mr5 dib fz0 icon-top-minus-1"> Официальный дилер</label>
                </li>
                <li class="dealers-filter__elements-item mb5">
                    <label class="ff-sfb --text-grey"><input type="checkbox" class="mr5 dib fz0 icon-top-minus-1"> Официальный дилер</label>
                </li>
                <li class="dealers-filter__elements-item mb5">
                    <label class="ff-sfb --text-grey"><input type="checkbox" class="mr5 dib fz0 icon-top-minus-1"> Официальный дилер</label>
                </li>
            </ul>
        </div>
        <div class="form-line mb15">
            Найдено компаний <span class="ff-sfb --text-grey">37</span>
        </div>
        <div class="text-right right-side__news-show-all">
            <button type="reset" class="clean-element text-uppercase ff-sfb --text-grey hover-black__link-red-icon">
                <span class="dib mr10 lts1">Сбросить настройки</span>
                <span class="icon-remove fz10 dib icon-top-minus-1"></span>
            </button>
        </div>
    </form>
</div>