<div class="main-page__news-grid fz0">
	<div class="row">
		<div class="col-md-8 main-page__news-grid-item main-page__news-grid-item__big">
			<img src="dev-images/poster.jpg"
					 class="full-width main-page__news-grid-image" alt="">
			<div class="main-page__news-grid-top-line fz22 white-color text-uppercase ff-sfb">
				Представляем новую mazda3
			</div>
			<div class="main-page__news-grid-bottom-line white-color text-uppercase ff-sfb">
				<p class="main-page__news-grid-date ff-sfb fz16 white-color mb25">
					14 августа, 14:52
				</p>
				<div class="display-flex flex-middle flex-wrap space-between">
					<div class="main-page__news-grid-icons-info col-md-9 col-xs-10 col-sm-8">
						<div class="white-color display-flex space-between flex-middle">
							<div class="right-side__news-bottom-item dib">
								<i class="icon-views trans fz41 mr10"></i>
								<div class="main-page__news-grid-icons-values dib fz16 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-comment trans fz24 mr10"></i>
								<div class="main-page__news-grid-icons-values dib fz16 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-like trans fz24 mr10"></i>
								<div class="main-page__news-grid-icons-values dib fz16 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-share trans fz24 mr10"></i>
								<div class="main-page__news-grid-icons-values dib fz16 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-favorite trans fz24"></i>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-2 col-sm-4 text-right">
						<a href="#" class="white-color">
							<i class="icon-more trans fz35"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div
				class="col-md-4 col-xs-12 col-sm-6 main-page__news-grid-item small-grid-item no-border-right mobile-border-right">
			<img src="dev-images/poster.jpg"
					 class="full-width main-page__news-grid-image" alt="">
			<div class="main-page__news-grid-top-line fz14 white-color text-uppercase ff-sfb">
				Представляем новую mazda3
			</div>
			<div class="main-page__news-grid-bottom-line white-color text-uppercase ff-sfb">
				<p class="main-page__news-grid-date ff-sfb fz12 white-color mb10">
					14 августа, 14:52
				</p>
				<div class="display-flex flex-middle space-between flex-wrap">
					<div class="main-page__news-grid-icons-info col-md-10 col-xs-10">
						<div class="white-color display-flex space-between flex-middle">
							<div class="right-side__news-bottom-item dib">
								<i class="icon-views trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-comment trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-like trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-share trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-favorite trans fz16"></i>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-2 text-right">
						<a href="#" class="white-color">
							<i class="icon-more trans fz16"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12 col-sm-6 main-page__news-grid-item small-grid-item no-border-right">
			<img src="dev-images/poster.jpg"
					 class="full-width main-page__news-grid-image" alt="">
			<div class="main-page__news-grid-top-line fz14 white-color text-uppercase ff-sfb">
				Представляем новую mazda3
			</div>
			<div class="main-page__news-grid-bottom-line white-color text-uppercase ff-sfb">
				<p class="main-page__news-grid-date ff-sfb fz12 white-color mb10">
					14 августа, 14:52
				</p>
				<div class="display-flex flex-middle space-between flex-wrap">
					<div class="main-page__news-grid-icons-info col-md-10 col-xs-10">
						<div class="white-color display-flex space-between flex-middle">
							<div class="right-side__news-bottom-item dib">
								<i class="icon-views trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-comment trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-like trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-share trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-favorite trans fz16"></i>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-2 text-right">
						<a href="#" class="white-color">
							<i class="icon-more trans fz16"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12 col-sm-6 main-page__news-grid-item small-grid-item no-border-bottom">
			<img src="dev-images/poster.jpg"
					 class="full-width main-page__news-grid-image" alt="">
			<div class="main-page__news-grid-top-line fz14 white-color text-uppercase ff-sfb">
				Представляем новую mazda3
			</div>
			<div class="main-page__news-grid-bottom-line white-color text-uppercase ff-sfb">
				<p class="main-page__news-grid-date ff-sfb fz12 white-color mb10">
					14 августа, 14:52
				</p>
				<div class="display-flex flex-middle space-between flex-wrap">
					<div class="main-page__news-grid-icons-info col-md-10 col-xs-10">
						<div class="white-color display-flex space-between flex-middle">
							<div class="right-side__news-bottom-item dib">
								<i class="icon-views trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-comment trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-like trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-share trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-favorite trans fz16"></i>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-2 text-right">
						<a href="#" class="white-color">
							<i class="icon-more trans fz16"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div
				class="col-md-4 col-xs-12 col-sm-6 main-page__news-grid-item small-grid-item no-border-bottom mobile-no-border-right">
			<img src="dev-images/poster.jpg"
					 class="full-width main-page__news-grid-image" alt="">
			<div class="main-page__news-grid-top-line fz14 white-color text-uppercase ff-sfb">
				Представляем новую mazda3
			</div>
			<div class="main-page__news-grid-bottom-line white-color text-uppercase ff-sfb">
				<p class="main-page__news-grid-date ff-sfb fz12 white-color mb10">
					14 августа, 14:52
				</p>
				<div class="display-flex flex-middle space-between flex-wrap">
					<div class="main-page__news-grid-icons-info col-md-10 col-xs-10">
						<div class="white-color display-flex space-between flex-middle">
							<div class="right-side__news-bottom-item dib">
								<i class="icon-views trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-comment trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-like trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-share trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-favorite trans fz16"></i>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-2 text-right">
						<a href="#" class="white-color">
							<i class="icon-more trans fz16"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div
				class="col-md-4 col-xs-12 col-sm-6 hidden-sm main-page__news-grid-item small-grid-item no-border-bottom no-border-right">
			<img src="dev-images/poster.jpg"
					 class="full-width main-page__news-grid-image" alt="">
			<div class="main-page__news-grid-top-line fz14 white-color text-uppercase ff-sfb">
				Представляем новую mazda3
			</div>
			<div class="main-page__news-grid-bottom-line white-color text-uppercase ff-sfb">
				<p class="main-page__news-grid-date ff-sfb fz12 white-color mb10">
					14 августа, 14:52
				</p>
				<div class="display-flex flex-middle space-between flex-wrap">
					<div class="main-page__news-grid-icons-info col-md-10 col-xs-10">
						<div class="white-color display-flex space-between flex-middle">
							<div class="right-side__news-bottom-item dib">
								<i class="icon-views trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-comment trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-like trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-share trans fz16 mr3"></i>
								<div class="dib fz12 ff-os">186</div>
							</div>
							<div class="right-side__news-bottom-item dib">
								<i class="icon-favorite trans fz16"></i>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-2 text-right">
						<a href="#" class="white-color">
							<i class="icon-more trans fz16"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-right visible-xs">
		<div class="mb5"></div>
		<a href="#" class="semi-title --text-grey grey trans">
			<span class="dib">Все новости</span>
			<i class="icon-right_arrow fz10"></i>
		</a>
	</div>
</div>