<div class="b-pagination">
    <ul class="b-pagination-listing text-center">
        <li class="b-pagination-item dib inactive">
            <a href="#" class="b-pagination-link double-prev"><i class="icon-double_arrow prev-arrow"></i></a>
        </li>
        <li class="b-pagination-item dib inactive">
            <a href="#" class="b-pagination-link prev"><i class="icon-left_arrow"></i></a>
        </li>
        <li class="b-pagination-item dib current">
            <span class="b-pagination-placeholder prev">1</span>
        </li>
        <li class="b-pagination-item dib">
            <a href="#" class="b-pagination-link prev">2</a>
        </li>
        <li class="b-pagination-item dib">
            <a href="#" class="b-pagination-link prev">3</a>
        </li>
        <li class="b-pagination-item dib">
            <a href="#" class="b-pagination-link prev">4</a>
        </li>
        <li class="b-pagination-item dib">
            <a href="#" class="b-pagination-link prev">5</a>
        </li>
        <li class="b-pagination-item dib">
            <a href="#" class="b-pagination-link prev"><i class="icon-right_arrow"></i></a>
        </li>
        <li class="b-pagination-item dib">
            <a href="#" class="b-pagination-link prev"><i class="icon-double_arrow"></i></a>
        </li>
    </ul>
</div>