<div class="pagination">
    <ul class="pagination-listing">
        <li class="pagination-item">
            <a href="#" class="pagination-link double-prev">&laquo;</a>
        </li>
        <li class="pagination-item">
            <a href="#" class="pagination-link prev">&lsaquo;</a>
        </li>
        <li class="pagination-item current">
            <span class="pagination-placeholder prev">1</span>
        </li>
        <li class="pagination-item">
            <a href="#" class="pagination-link prev">2</a>
        </li>
        <li class="pagination-item">
            <a href="#" class="pagination-link prev">3</a>
        </li>
        <li class="pagination-item">
            <a href="#" class="pagination-link prev">4</a>
        </li>
        <li class="pagination-item">
            <a href="#" class="pagination-link prev">5</a>
        </li>
        <li class="pagination-item">
            <a href="#" class="pagination-link prev">&rsaquo;</a>
        </li>
        <li class="pagination-item">
            <a href="#" class="pagination-link prev">&raquo;</a>
        </li>
    </ul>
</div>