<div class="b-pagination fz0">
	<ul class="b-pagination-listing text-center clean-element {% if type == 'white' %} white-pagination{% endif %}">
		<li class="b-pagination-item dib inactive fz0 hidden-xs">
			<a href="#" class="b-pagination-link double-prev fz0"><i class="icon-double_arrow_back fz14 lh-auto"></i></a>
		</li>
		<li class="b-pagination-item dib inactive fz0">
			<a href="#" class="b-pagination-link prev fz0"><i class="icon-left_arrow fz14 lh-auto"></i></a>
		</li>
		<li class="b-pagination-item dib current">
			<span class="b-pagination-placeholder prev"><span class="b-pagination-link">1</span></span>
		</li>
		<li class="b-pagination-item dib">
			<a href="#" class="b-pagination-link prev">2</a>
		</li>
		<li class="b-pagination-item dib">
			<a href="#" class="b-pagination-link prev">3</a>
		</li>
		<li class="b-pagination-item dib">
			<a href="#" class="b-pagination-link prev">4</a>
		</li>
		<li class="b-pagination-item dib hidden-xs">
			<a href="#" class="b-pagination-link prev">5</a>
		</li>
		<li class="b-pagination-item dib">
			<a href="#" class="b-pagination-link prev fz0"><i class="icon-right_arrow fz14 lh-auto"></i></a>
		</li>
		<li class="b-pagination-item dib hidden-xs">
			<a href="#" class="b-pagination-link prev fz0"><i class="icon-double_arrow fz14 lh-auto"></i></a>
		</li>
	</ul>
</div>