<div class="display-flex flex-middle space-between">
	<div class="block-title text-uppercase">Медиатека</div>
	<div>
		<a href="#" class="semi-title grey">
			<span class="dib">Перейти</span>
			<i class="icon-right_arrow fz10"></i>
		</a>
	</div>
</div>
<div class="content-area__container white-bg">
	<div class="content-area__section fz0">
		<a href="#" class="media-widget__image-wrapper">
			<img alt="" src="http://placehold.it/300x200" class="full-width"/>
		</a>
		<div class="double-inputs clearfix">
			<div class="col-xs-6"><a class="media-widget__image-wrapper" href="#"><img alt="" src="http://placehold.it/150x100" class="full-width"/></a></div>
			<div class="col-xs-6"><a class="media-widget__image-wrapper" href="#"><img alt="" src="http://placehold.it/150x100" class="full-width"/></a></div>
		</div>
		<a href="#" class="media-widget__image-wrapper media-widget__video">
			<img alt="" src="http://placehold.it/300x200" class="full-width"/>
			<i class="icon-youtube"></i>
			<p class="media-widget__video-bottom-text fz14 ff-sfb white-color text-center">Новый концепт на выставке</p>
		</a>
	</div>

	{# TODO Заменить иконки глаз на лупы #}
</div>