<div class="right-side__banner text-center content-area__section black-bg">
	<div class="right-side__banner-title ff-sfb fz24 white-color lts2 lh12 mb10">
		Mazda по <br>летним ценам
	</div>
	<div class="full-width__image-remove-paddings-banner mb20">
		<img src="images/offer_image.jpg" class="full-width" alt="">
	</div>
	<div class="right-side__banner-content mb20 --text-grey">
		До 31 августа в салонах
		официальных дилеров
		действуют специальные цены
		на модели Mazda 3 / 6 / CX-5
	</div>
	<div class="right-side__banner-info text-right">
		<a href="#" class="right-side__banner-more text-uppercase --text-grey ff-sfb">
			<span class="dib">подробнее</span>
			<i class="icon-plus fz10"></i>
		</a>
	</div>
</div>