<div class="block-title text-uppercase">ПДД</div>
<form action="#">
	<div class="content-area__container white-bg">
		<div class="content-area__section">
			<p class="semi-title text-center">Проверьте себя на знание!</p>
			<p class="-text-grey text-center">Должны ли Вы при движении прямо уступить дорогу трамваю?</p>
			<div class="mb10">
				<img alt="" src="http://placehold.it/300x100" class="full-width"/>
			</div>
			<div class="-text-grey">
				<label class="mb10 db"><input type="radio" name="2" class="mr5 icon-top-minus-1"> Да</label>
				<label class="mb10 db"><input type="radio" name="2" class="mr5 icon-top-minus-1"> Нет</label>
			</div>
		</div>
	</div>
	<div class="right-side__buttons-wrapper has-border-top absolute-bottom">
		<button class="db filled-button big-button hover-red text-uppercase lts1">Ответить</button>
	</div>
</form>