<div class="block-title text-uppercase">Отзывы</div>
<div class="right-side__news content-area__section white-bg">
	<ul class="right-side__news-listing clean-element">
		{% for i in 1..2 %}
			{% include "../elements/feedbacks-item.twig" %}
		{% endfor %}
	</ul>
	<div class="right-side__buttons-wrapper has-border-top text-right">
		<a href="#" class="text-right lts1 --text-grey hover-black__link-red-icon ff-sfb text-uppercase dib mb15">
			<span class="dib">Все отзывы модели</span>
			<i class="icon-right_arrow"></i>
		</a>
		<a href="#" class="text-uppercase filled-button ff-sfb db big-button hover-red">
			Добавить отзыв
		</a>
	</div>
</div>