<div class="block-title text-uppercase">Сейчас обсуждают</div>
<div class="right-side__news content-area__section white-bg">
    <ul class="right-side__news-listing clean-element">
        {% for i in 1..3 %}
            {% include "../elements/discussing-item.twig" %}
        {% endfor %}
    </ul>
    <div class="right-side__buttons-wrapper has-border-top">
        <a href="#" class="text-uppercase filled-button ff-sfb db big-button hover-red">
            Участвовать
        </a>
    </div>
</div>