<div class="display-flex flex-middle space-between">
	<div class="block-title text-uppercase">Медиатека</div>
	<div>
		<a href="#" class="semi-title grey text-nowrap">
			<span class="dib">Перейти</span>
			<i class="icon-right_arrow fz10"></i>
		</a>
	</div>
</div>
<div class="content-area__container white-bg right-side__media owl-carousel__parent-element">
	<div class="content-area__section owl-carousel fz0 row" data-items="1">
		<a href="#" class="media-widget__image-wrapper col-sm-6 col-xs-12 col-md-12">
			<img alt="" src="http://placehold.it/300x200" class="full-width"/>
		</a>
		<a class="media-widget__image-wrapper col-md-6 col-sm-3 col-xs-12" href="#">
			<img alt="" src="http://placehold.it/150x100" class="full-width"/>
		</a>
		<a class="media-widget__image-wrapper col-md-6 col-sm-3 col-xs-12" href="#">
			<img alt="" src="http://placehold.it/150x100" class="full-width"/>
		</a>
		<a href="#" class="media-widget__image-wrapper visible-sm visible-xs tab-visible-image col-sm-3 col-xs-12 col-md-12">
			<img alt="" src="http://placehold.it/150x100" class="full-width"/>
		</a>
		<a href="#" class="media-widget__image-wrapper media-widget__video col-md-12 col-sm-3 col-xs-12">
			<img alt="" src="http://placehold.it/300x200" class="full-width"/>
			<i class="icon-youtube"></i>
			<p class="media-widget__video-bottom-text fz14 ff-sfb white-color text-center">Новый концепт на выставке</p>
		</a>
	</div>

	{# TODO Заменить иконки глаз на лупы #}
</div>