<div class="block-title text-uppercase">Цены на бензин</div>
<div class="content-area__container">
	<div class="right-side__news content-area__section white-bg">
		<div class="right-side__fuel-prices text-center mb15 lts1 display-flex space-between">
			<div class="right-side__fuel-price-item mb15">
				<p class="ff-sfb -text-lightblack mb5">АИ-92</p>
				<p class="-text-grey mb5">35.19 ₽</p>
				<p class="mb0"><i class="icon-up_arrow -text-green"></i></p>
			</div>
			<div class="right-side__fuel-price-item mb15">
				<p class="ff-sfb -text-lightblack mb5">АИ-92</p>
				<p class="-text-grey mb5">35.19 ₽</p>
				<p class="mb0"><i class="icon-down_arrow -text-red"></i></p>
			</div>
			<div class="right-side__fuel-price-item mb15">
				<p class="ff-sfb -text-lightblack mb5">АИ-92</p>
				<p class="-text-grey mb5">35.19 ₽</p>
				<p class="mb0"><i class="icon-up_arrow -text-green"></i></p>
			</div>
		</div>
		<div class="right-side__container-text text-center -text-grey">
			<p>Указанные цены актуальны на <br>
				25 августа 2016 года</p>
			<p>*Данные предоставлены ООО "ППР". Розничные цены на топливо рассчитаны по методологии РЭШ.</p>
		</div>
	</div>
</div>