<div class="block-title text-uppercase">Фильтр</div>
<div class="right-side__filter content-area__container white-bg">
	<form action="#" class="content-area__section">
		<div class="form-line mb20">
			<select class="selectpicker" data-width="100%" title="Категория Плейсхолдер">
				<option value="">Категория (все)</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
			</select>
		</div>
		<div class="form-line mb20">
			<select class="selectpicker" data-width="100%">
				<option value="">Модель</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
			</select>
		</div>
		<div class="form-line mb20">
			<select class="selectpicker" data-width="100%" disabled>
				<option value="">Поколение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
			</select>
		</div>
		<div class="form-line mb20">
			<select class="selectpicker" data-width="100%" disabled>
				<option value="">Кузов</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
			</select>
		</div>
		<div class="form-line mb20">
			<select class="selectpicker" data-width="100%" disabled>
				<option value="">Коробка</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
			</select>
		</div>
		<div class="form-line mb20">
			<select class="selectpicker" data-width="100%" disabled>
				<option value="">Привод</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
			</select>
		</div>
		<div class="form-line mb20">
			<select class="selectpicker" data-width="100%" disabled>
				<option value="">Двигатель</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
			</select>
		</div>
		<div class="form-line mb20 double-selectors fz0">
			<select class="selectpicker dib" data-width="50%" disabled>
				<option value="">Объем от</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
			</select>
			<select class="selectpicker dib" data-width="50%" disabled>
				<option value="">до</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
			</select>
		</div>
		<div class="form-line mb20 double-inputs form-group clearfix">
			<div class="col-xs-6">
				<input class="form-control" type="tel" placeholder="Цена от (&#x20bd;)">
			</div>
			<div class="col-xs-6">
				<input class="form-control" type="tel" placeholder="до (&#x20bd;)">
			</div>
		</div>
		<div class="form-line mb20 double-inputs form-group clearfix">
			<div class="col-xs-6">
				<input class="form-control" type="tel" placeholder="Пробег от (км)">
			</div>
			<div class="col-xs-6">
				<input class="form-control" type="tel" placeholder="до (км)">
			</div>
		</div>
		<div class="form-line mb20 double-selectors fz0 hidden-md">
			<select class="selectpicker dib" data-width="50%">
				<option value="">Год от</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
			</select>
			<select class="selectpicker dib" data-width="50%">
				<option value="">до</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
			</select>
		</div>
		<div class="form-line mb20">
			<select class="selectpicker" data-width="100%" disabled>
				<option value="">Регион (все)</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
				<option value="">Значение</option>
			</select>
		</div>
		<div class="custom-hidden full-filter-hidden mb20">
			<div class="form-line mb20">
				<select class="selectpicker" data-width="100%" disabled>
					<option value="">Регион (все)</option>
					<option value="">Значение</option>
					<option value="">Значение</option>
					<option value="">Значение</option>
					<option value="">Значение</option>
				</select>
			</div>
			<div class="form-line mb20">
				<select class="selectpicker" data-width="100%" disabled>
					<option value="">Регион (все)</option>
					<option value="">Значение</option>
					<option value="">Значение</option>
					<option value="">Значение</option>
					<option value="">Значение</option>
				</select>
			</div>
			<div class="form-line mb20">
				<select class="selectpicker" data-width="100%" disabled>
					<option value="">Регион (все)</option>
					<option value="">Значение</option>
					<option value="">Значение</option>
					<option value="">Значение</option>
					<option value="">Значение</option>
				</select>
			</div>
		</div>
		<div class="form-buttons__area">
			<div class="form-line mb10 right-form__found">
				Найдено объявлений <span class="-text-grey ff-sfb">104</span>
			</div>
			<div class="form-line mb10 text-center">
				<button type="reset"
								class="inactive hover-black__link-red-icon right-form__reset-button text-uppercase clean-element ff-sfb">
					Сбросить найстройки <i class="icon-remove fz10 dib vam"></i>
				</button>
			</div>
			<div class="form-line text-right">
				<span class="js-show-all-params text-uppercase ff-sfb -text-grey hover-black__link-red-icon">все параметры <i
							class="icon-down_arrow dib fz10"></i></span>
			</div>
		</div>
	</form>
</div>