<div class="block-title text-uppercase">Опрос</div>
<div class="content-area__container white-bg">
	<div class="content-area__section">
		<p class="semi-title text-center">Как вам <br> наш новый сайт?</p>
		<form action="#">
			<div class="grey-border-bottom --text-grey mb15">
				<label class="mb10 db"><input type="radio" name="1" class="mr5 icon-top-minus-1"> Супер</label>
				<label class="mb10 db"><input type="radio" name="1" class="mr5 icon-top-minus-1"> Современный</label>
				<label class="mb10 db"><input type="radio" name="1" class="mr5 icon-top-minus-1"> Красивый</label>
				<label class="mb10 db"><input type="radio" name="1" class="mr5 icon-top-minus-1"> Удобный</label>
				<label class="mb10 db"><input type="radio" name="1" class="mr5 icon-top-minus-1"> Красивый и удобный</label>
			</div>
			<p><button class="db filled-button big-button hover-red text-uppercase lts1">Проголосовать</button></p>
		</form>
	</div>
</div>