@import "vars"
@import "mixins/mixins"

.pt40
  padding-top: 40px

.mb67
  margin-bottom: 67px


.b-error-message
  display: inline-block
  width: 50%
  padding: 25px 25px 50px 25px

.logo-square
  &.mt0
    margin-top: 0