@import vars
@import mixins/mixins

@media screen and (max-width: 992px)
    .main-page__news-grid-item
        &.main-page__news-grid-item__big
            border-right: none

        &.mobile-border-right
            border-right: 1px solid $light-black

        &.mobile-no-border-right
            border-right: none

    .header-menu__listing
        margin-right: 20px

    .header-menu__item
        &:not(:last-child)
            margin-right: 20px
            .header-menu__link
                &:before
                    margin-left: 10px

    .right-side__filter
        .content-area__section
            margin-left: -10px
            margin-right: -10px
            font-size: 0
            .form-line
                padding: 0 10px
                display: inline-block
                width: 50%
                vertical-align: top

    .right-side__filter
        .form-buttons__area
            .form-line
                width: 33%
                font-size: 14px

    .footer-bottom
        text-align: center

    .copy-text
        text-align: center !important

    .right-side__news-item, .right-side__feedback-item
        &:nth-child(n)
            border: none
        &:not(:last-child)
            border-right: 1px solid $light-grey

    .right-side__buttons-wrapper
        &.has-border-top.mobile-no-border
            border: none

    .new-faces__buttons
        justify-content: end

        &>*:not(:last-child)
            margin-right: 10px

    .new-faces__units
        justify-content: space-around

    .right-side__fuel-prices
        letter-spacing: 0

    .new-faces__item
        width: 20%

@media screen and (max-width: 767px)
    .dealers-map__listing
        position: static
        width: auto
        background: #fff

    .dealers-map__units
        height: 500px
        position: static

    .main-page__rated-dealers
        .owl-item
            & > [class*="col-"]
                padding: 0
    .content-block__tab-menu-listing
        margin-right: 0
    .main-page__catalog-preview
        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
            width: 100%
    .main-page__news-grid-date
        font-size: 12px
        margin-bottom: 10px

    .main-page__news-grid-bottom-line
        padding: 0 10px
        bottom: 10px
        [class*="icon-"]
            font-size: 12px
            margin-right: 5px

    .main-page__news-grid-top-line
        font-size: 14px
        padding: 0 10px
        top: 10px

    .main-page__news-grid-icons-values
        font-size: 12px

    .block-title
        font-size: 16px

    .adv-gird__content
        padding: 10px

    .block-title
        font-size: 16px

    .breadcrumbs
        font-size: 12px
    .right-side__filter
        .content-area__section
            margin-left: 0
            margin-right: 0
            font-size: 0

            .form-line
                display: block
                width: 100%
                vertical-align: top
                padding: 0

    .logo-square
        width: 65px
        height: 60px
        line-height: 58px
        margin-top: 0

        span
            font-size: 8px
            line-height: 1.8

    .navbar .header-menu
        position: absolute
        top: 100%
        width: 100%
        left: 0
        margin: 0
        z-index: 100
        background: #fff

    .header-menu__item
        line-height: normal
        text-align: center
        padding: 0 15px

    .header-menu__link
        color: $semidark-grey
        padding: 25px 0
        display: block
        text-align: center
        border-bottom: 1px solid #d5d5d5

        &:hover, &:active, &:focus
            color: #000

    .header-menu__listing
        display: block
        margin-right: 0

    .header-menu__item
        display: block
        text-align: left

        &:nth-child(n)
            margin: 0
            &:after, &:before
                display: none

    .header-forum-link
        text-align: center
        display: block
        .empty-button
            border-color: $light-black
            color: $light-black

            &:hover
                color: #fff

    .mobile-display-flex
        display: flex

    .footer-bottom__item
        margin: 5px 10px

        &:nth-child(n)
            &:before, &:after
                display: none

    .footer-soc__wrapper
        text-align: center

    .footer-soc__item
        &:not(:last-child)
            margin: 0

    .footer-menu__first-item
        text-align: center
        margin: 0

    .footer-menu__first-link
        display: block
        padding: 25px 0
        border-bottom: 1px solid $semidark-grey

    .footer-menu__item
        display: none

    .footer-top
        padding-top: 0
        border-color: $semidark-grey

    .footer-soc__wrapper
        padding-top: 20px
        padding-bottom: 20px

    .copy-text
        line-height: normal
        padding-top: 20px

    .header-submenu
        position: static
        top: auto
        left: auto
        background: #eee
        font-size: 14px
        padding: 10px 0
        line-height: 2

    .header-submenu__link
        display: block

    .header-menu__item
        .header-menu__link
            &:after
                margin-top: 0
            &.active
                color: #000


    .mobile--mb10
        margin-bottom: 10px