@import vars
@import mixins/mixins

@media screen and (max-width: 991px)
    .main-page__news-grid-item
        &.main-page__news-grid-item__big
            border-right: none

        &.mobile-border-right
            border-right: 1px solid $light-black

        &.mobile-no-border-right
            border-right: none

    .header-menu__listing
        margin-right: 20px

    .header-menu__item
        &:not(:last-child)
            margin-right: 20px
            .header-menu__link
                &:before
                    margin-left: 10px

    .right-side__filter
        .content-area__section
            margin-left: -10px
            margin-right: -10px
            font-size: 0
            .form-line
                padding: 0 10px
                display: inline-block
                width: 50%
                vertical-align: top

    .right-side__filter
        .form-buttons__area
            .form-line
                width: 33%
                font-size: 14px

    .footer-bottom
        text-align: center

    .copy-text
        text-align: center !important

    .right-side__news-item, .right-side__feedback-item
        &:nth-child(n)
            border: none
        &:not(:last-child)
            border-right: 1px solid $light-grey

    .right-side__buttons-wrapper
        &.has-border-top.mobile-no-border
            border: none

    .new-faces__buttons
        justify-content: end

        & > *:not(:last-child)
            margin-right: 10px

    .new-faces__units
        justify-content: space-around

    .right-side__fuel-prices
        letter-spacing: 0

    .new-faces__item
        width: 20%

    .footer__error-reporting
        margin-top: 20px
        text-align: left

    .dealers-filter__form
        margin-left: -10px
        margin-right: -10px
        & > .form-line
            padding: 0 10px
            width: 50%
            float: left

            &:nth-child(2n+1)
                clear: both

@media screen and (max-width: 767px)
    .comments__textarea-container
        width: 100%

    .comments-item
        position: relative
        &:not(:last-child)
            border-bottom: 1px solid #c5c5c5

        .comments-item
            border: none
            .comments__textarea-header
                text-align: right
                margin-right: 58px
                margin-left: auto

            .comments__avatar-wrapper
                &:not(.static)
                    left: auto
                    right: 0

            .comments__bottom-area
                text-align: right

    .comments-listing
        & > .comments-item
            &:not(:last-child) > .comments__textarea-container
                & > .comments-item
                    padding-bottom: 20px

    .comments__textarea-header
        margin-left: 58px
        padding-top: 5px
        margin-bottom: 10px

    .comments__avatar-wrapper
        &:not(.static)
            position: absolute
            top: 0
            left: 0

    .comments-form__section
        display: block
        text-align: center

    .news-item__content
        width: 100%
    .footer__error-reporting
        text-align: center
        padding: 25px 0
    .dealers-map__listing
        position: static
        width: auto
        background: #fff

    .dealers-map__units
        height: 500px
        position: static

    .main-page__rated-dealers
        .owl-item
            & > [class*="col-"]
                padding: 0
    .content-block__tab-menu-listing
        margin-right: 0
    .main-page__catalog-preview
        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
            width: 100%
    .main-page__news-grid-date
        font-size: 12px
        margin-bottom: 10px

    .main-page__news-grid-bottom-line
        padding: 0 10px
        bottom: 10px
        [class*="icon-"]
            font-size: 12px
            margin-right: 5px

    .main-page__news-grid-top-line
        font-size: 14px
        padding: 0 10px
        top: 10px

    .main-page__news-grid-icons-values
        font-size: 12px

    .block-title
        font-size: 16px
        line-height: normal
        margin-bottom: 5px

    .adv-gird__content
        padding: 10px

    .breadcrumbs
        font-size: 12px
    .right-side__filter
        .content-area__section
            margin-left: 0
            margin-right: 0
            font-size: 0

            .form-line
                display: block
                width: 100%
                vertical-align: top
                padding: 0

    .logo-square
        width: 65px
        height: 60px
        line-height: 58px
        margin-top: 0

        span
            font-size: 8px
            line-height: 1.8

    .navbar .header-menu
        position: absolute
        top: 100%
        width: 100%
        left: 0
        margin: 0
        z-index: 100
        background: #fff

    .header-menu__item
        line-height: normal
        text-align: center
        padding: 0 15px

    .header-menu__link
        color: $semidark-grey
        padding: 25px 0
        display: block
        text-align: center
        border-bottom: 1px solid #d5d5d5

        &:hover, &:active, &:focus
            color: #000

    .header-menu__listing
        display: block
        margin-right: 0

    .header-menu__item
        display: block
        text-align: left

        &:nth-child(n)
            margin: 0
            &:after, &:before
                display: none

    .header-forum-link
        text-align: center
        display: block
        .empty-button
            border-color: $light-black
            color: $light-black

            &:hover
                color: #fff

    .mobile-display-flex
        display: flex

    .footer-bottom__item
        margin: 5px 10px

        &:nth-child(n)
            &:before, &:after
                display: none

    .footer-soc__wrapper
        text-align: center

    .footer-soc__item
        &:not(:last-child)
            margin: 0

    .footer-menu__first-item
        text-align: center
        margin: 0

    .footer-menu__first-link
        display: block
        padding: 25px 0
        border-bottom: 1px solid $semidark-grey

    .footer-menu__item
        display: none

    .footer-top
        padding-top: 0
        border-color: $semidark-grey

    .footer-soc__wrapper
        padding-top: 20px
        padding-bottom: 20px

    .copy-text
        line-height: normal
        padding-top: 20px

    .header-submenu
        position: static
        top: auto
        left: auto
        background: #eee
        font-size: 14px
        padding: 10px 0
        line-height: 2

    .header-submenu__link
        display: block

    .header-menu__item
        .header-menu__link
            &:after
                margin-top: 0
            &.active
                color: #000

    .catalog-item__comments-item
        border: none
        border-bottom: 1px solid #c5c5c5
        padding-left: 0
        padding-right: 0
        padding-top: 0

        &:last-child
            border-bottom: none

    .catalog-item__reviews-image-wrapper
        text-align: center
        margin-bottom: 15px

    .catalog-item__reviews-title
        text-align: center

    .catalog-item__reviews-more
        text-align: right

    .auto-model__sliders-control-jsp
        position: static
        height: 500px

    .auto-model__characters-tab__wrapper
        display: none

    .auto-model__modification-element-link
        position: relative
        background: #fff

        &:after
            position: absolute
            content: ''
            width: 8px
            height: 8px
            margin-top: -3px
            +transform(rotate(45deg))
            border-top: 2px solid #c5c5c5
            border-right: 2px solid #c5c5c5
            display: block
            right: 10px
            top: 50%

    .auto-model__modification-element
        &.active
            .auto-model__modification-element-link
                background: #fff

    .right-side__news-item, .right-side__feedback-item
        &:nth-child(n)
            border: none

    .access-company-controll
        position: relative
        padding-right: 20px

        .access-company-controll__close
            position: absolute
            top: 5px
            right: 5px

    .empty-button
        &.button-spectial-suggestion
            line-height: 1.3
            padding-top: 5px
            padding-bottom: 5px
            white-space: normal

    .dealers-map__listing
        padding-left: 0
        padding-right: 0

    .mobile-small-tab-selectors
        & > .content-block__tab-menu-item
            &:not(:last-child)
                margin-right: 16px

                &:after
                    display: none

    .dealers-feedbacks__item-image-wrapper
        width: 60px
        margin-right: 15px

    .dealers-feedbacks__item-content-header
        position: relative
        padding-bottom: 20px
        line-height: 60px

        .dealers-feedbacks__item-content-title
            line-height: normal
            display: inline-block
            margin-left: 70px
            vertical-align: middle

    .dealers-feedbacks__item-content-date
        position: absolute
        bottom: 0
        left: 0
        right: 0
        line-height: normal
        color: $light-black

    .dealers-feedbacks__item-image-wrapper
        position: absolute
        left: 0
        top: 0

    .main-page__news-grid-item__big
        padding-top: 0

    .mobile-arrordion
        & > .tab-pane
            display: none
            opacity: 1
            padding: 20px 0

            &.mobile-active
                display: block
        
    .accordion-header
        position: relative

        &:after
            display: block
            content: ''
            position: absolute
            width: 8px
            height: 8px
            border-bottom: 2px solid #c5c5c5
            border-right: 2px solid #c5c5c5
            top: 50%
            right: 20px
            margin-top: -4px
            +transform(rotate(45deg))
            +trans

        &.mobile-active
            color: $light-black

            &:after
                +transform(rotate(-135deg))
            
    .accordion-header
        text-align: left
        margin-left: -20px
        margin-right: -20px
        padding: 20px
        border-top: 1px solid #c5c5c5

        &.active
            color: $light-black

    .mobile-arrordion
        margin-bottom: -20px

    .auto-slider
        .owl-thumbs
            display: none