@import "vars"
@import "mixins/mixins"

.container
    max-width: 1200px
    
.rouble
    display: inline-block
    //width: 10px
    //height: 10px
    //background: #000
    vertical-align: middle

.icon-double_arrow
    &.prev-arrow
        +rotate(-180deg)