{% extends 'layouts/app.twig' %}

{% set cleanPage = "true" %}

{% block content %}
<section class="pt40 mb52 hidden-xs">
    <div class="text-center">
        <a href="#" class="logo-square b-logo__club text-uppercase ff-sfb white-color text-center mt0">
            <span class="dib fz14">АВТОКЛУБ ЛЮБИТЕЛЕЙ МАЗДА</span>
        </a>
        <a href="#" class="logo-square b-logo__mazda text-center mt0">
            <img src="images/logo-mazda.png" alt="" title="">
        </a>
    </div>
</section>
<section class="pt15 mb15">
    <div class="b-error-message white-bg text-center">
        <div class="fz80 -text-red lhn mb25"><i class="icon-page_not_find_icon"></i></div>
        <p class="ff-sfb fz48 -text-red lhn lts2 mb3">404</p>
        <p class="text-uppercase ff-sfb fz24 lhn lts2 mb30">Ошибка</p>
        <p class="text-uppercase ff-sfb fz18 lhn lts2 mb10">Страница не найдена</p>
        <p class="text-uppercase text-gray ff-os lhn mb35">Неправильно набран адрес, или эта страница больше не существует</p>
        <a href="#" class="filled-button big-button hover-red text-uppercase lts1">Перейти на главную</a>
    </div>
</section>
{% endblock %}