{% extends "layouts/app.twig" %}

{% block content %}
    {% include "widgets/breadcrumbs.twig" %}

    <div class="content-area clearfix">
        <div class="container">
            <div class="row">
                <div class="content-area__right-side col-md-3 col-xs-12">
                    <div class="content-area__right-side-item">
                        {% include 'widgets/right-side__feedbacks.twig' %}
                    </div>
                    <div class="content-area__right-side-item hidden-sm hidden-xs">
                        {% include 'widgets/right-side__fuel-price.twig' %}
                    </div>
                    <div class="content-area__right-side-item">
                        {% include 'widgets/right-side__discussing-block.twig' %}
                    </div>
                </div>
                <div class="visible-sm visible-xs clearfix"></div>
                <div class="content-area__left-side col-xs-12 col-md-9">
                    <div class="content-area__item mb35">
                        <div class="block-title text-uppercase">Продажа Mazda 3 в Москве</div>
                        <div class="content-area__container display-flex">
                            <div class="col-md-8 tab-content">
                                <div class="tab-pane fade active in" id="auto-image-slider1">
                                    {% include 'widgets/auto-slider.twig' %}
                                </div>
                                <div class="tab-pane fade" id="auto-image-slider2">
                                    {% include 'widgets/auto-slider.twig' %}
                                </div>
                                <div class="tab-pane fade" id="auto-image-slider3">
                                    {% include 'widgets/auto-slider.twig' %}
                                </div>
                                <div class="tab-pane fade" id="auto-image-slider4">
                                    {% include 'widgets/auto-slider.twig' %}
                                </div>
                            </div>
                            <div class="col-md-4 white-bg">
                                <div class="row">
                                    <ul class="clean-element auto-model__image-right-side__units">
                                        <li class="auto-model__image-right-side__item active">
                                            <a class="auto-model__image-right-side__link db hover-black__icon"
                                               href="#auto-image-slider1" data-toggle="tab">
                                                <p class="mb0 ff-sfb --text-lightblack text-uppercase">BM</p>
                                                <div class="display-flex space-between flex-middle">
                                                    <p class="mb0 fz12 --text-grey">2013 - н.в.</p>
                                                    <p><i class="icon-favorite fz16 --text-grey"></i>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="auto-model__image-right-side__item">
                                            <a class="auto-model__image-right-side__link db hover-black__icon"
                                               href="#auto-image-slider2" data-toggle="tab">
                                                <p class="mb0 ff-sfb --text-lightblack text-uppercase">BM</p>
                                                <div class="display-flex space-between flex-middle">
                                                    <p class="mb0 fz12 --text-grey">2013 - н.в.</p>
                                                    <p><i class="icon-favorite fz16 --text-grey"></i>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="auto-model__image-right-side__item">
                                            <a class="auto-model__image-right-side__link db hover-black__icon"
                                               href="#auto-image-slider3" data-toggle="tab">
                                                <p class="mb0 ff-sfb --text-lightblack text-uppercase">BM</p>
                                                <div class="display-flex space-between flex-middle">
                                                    <p class="mb0 fz12 --text-grey">2013 - н.в.</p>
                                                    <p><i class="icon-favorite fz16 --text-grey"></i>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="auto-model__image-right-side__item">
                                            <a class="auto-model__image-right-side__link db hover-black__icon"
                                               href="#auto-image-slider4" data-toggle="tab">
                                                <p class="mb0 ff-sfb --text-lightblack text-uppercase">BM</p>
                                                <div class="display-flex space-between flex-middle">
                                                    <p class="mb0 fz12 --text-grey">2013 - н.в.</p>
                                                    <p><i class="icon-favorite fz16 --text-grey"></i>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-area__item mb35">
                        <div class="content-area__container white-bg">
                            <div class="content-area__section display-flex space-between flex-middle">
                                <div class="dib --text-lightblack lts1 ff-sfb text-uppercase">
                                    Найдено автомобилей данной модели: 10
                                </div>
                                <div class="dib">
                                    <a href="#" class="dib --text-grey lts1 ff-sfb text-uppercase hover-black__link-red-icon">
                                        <span class="dib">Перейти к объявлениям</span>
                                        <i class="icon-right_arrow fz12"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-area__item mb35">
                        <div class="content-area__container white-bg">
                            <div class="content-area__section text-center">
                                <ul class="catalog-item__tabs-header dib ff-sfb clean-element mb35">
                                    <li class="catalog-item__tabs-item dib active">
                                        <a href="#catalog-tab1" class="catalog-item__tabs-link dib --text-grey"
                                           data-toggle="tab">Описание</a>
                                    </li>
                                    <li class="catalog-item__tabs-item dib">
                                        <a href="#catalog-tab2" class="catalog-item__tabs-link dib --text-grey"
                                           data-toggle="tab">Характеристики</a>
                                    </li>
                                    <li class="catalog-item__tabs-item dib">
                                        <a href="#catalog-tab3" class="catalog-item__tabs-link dib --text-grey"
                                           data-toggle="tab">Комментарии</a>
                                    </li>
                                    <li class="catalog-item__tabs-item dib">
                                        <a href="#catalog-tab4" class="catalog-item__tabs-link dib --text-grey"
                                           data-toggle="tab">Обзоры</a>
                                    </li>
                                </ul>
                                <div class="catalog-item__tabs-content tab-content text-left">
                                    <div id="catalog-tab1" class="tab-pane active in fade">
                                        <div class="catalog-item__seller-comment mb35">
                                            <div class="catalog-item__seller-comment-title --text-lightblack ff-sfb mb10 text-uppercase lts1">
                                                Комментарий продавца
                                            </div>
                                            <div class="catalog-item__seller-comment-content">
                                                Мазда 3, 2014 модельного года, по птс 2013, мотор 1,6 (не Скайактив), 4х
                                                ступенчатый автомат с функцией ручного переключения передач.
                                                Комплектация Актив+, чехлы Dinas перфорированная кожа, защита двигателя,
                                                сигнализация Старлайн, автозапуск. В придачу Комплект зимних колес
                                                Нордман 4 на литых дисках. На гарантии, до декабря 2016г. Пройдено ТО,
                                                новые тормозные колодки в круг! Автомобиль полностью обслужен!Осмотр и
                                                диагностика в любом удобном для вас сервисе!
                                            </div>
                                        </div>
                                        <div class="--text-lightblack ff-sfb mb10 text-uppercase lts1">Комплектация
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="catalog-item__additional-car-info">
                                                    <p class="--text-grey lts1 ff-sfb">Безопасность</p>
                                                    <p>Антиблокировочная система (ABS)</p>
                                                    <p>Антипробуксовочная система</p>
                                                    <p>Система стабилизации</p>
                                                </div>
                                                <div class="catalog-item__additional-car-info">
                                                    <p class="--text-grey lts1 ff-sfb">Обзор</p>
                                                    <p>Электроскладывание зеркал</p>
                                                    <p>Электропривод зеркал</p>
                                                    <p>Омыватель фар</p>
                                                    <p>Датчик света</p>
                                                    <p>Обогрев зеркал</p>
                                                    <p>Ксенон / биксенон</p>
                                                </div>
                                                <div class="catalog-item__additional-car-info">
                                                    <p class="--text-grey lts1 ff-sfb">Комфорт</p>
                                                    <p>Климат-контроль 2-зонный</p>
                                                    <p>Бортовой компьютер</p>
                                                    <p>Электростеклоподъемники все</p>
                                                    <p>Дистанционный запуск двигателя</p>
                                                    <p>Обогрев сидений</p>
                                                    <p>Тонированные стекла</p>
                                                    <p>Усилитель руля</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="catalog-item__additional-car-info">
                                                    <p class="--text-grey lts1 ff-sfb">Мультимедиа</p>
                                                    <p>Штатная Аудиосистема с CD</p>
                                                    <p>Гтатная аудиосистема с TV</p>
                                                    <p>Штатная навигационная система</p>
                                                </div>
                                                <div class="catalog-item__additional-car-info">
                                                    <p class="--text-grey lts1 ff-sfb">Салон</p>
                                                    <p>Темный салон</p>
                                                    <p>Тканевый салон</p>
                                                    <p>Обогрев сидений</p>
                                                </div>
                                                <div class="catalog-item__additional-car-info">
                                                    <p class="--text-grey lts1 ff-sfb">Экстерьер</p>
                                                    <p>Легкосплавные диски 16"</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="catalog-tab2" class="tab-pane fade catalog-item__chars-tab-container">
                                        <div class="has-border-bottom catalog-item__chars-tab-section mb15">
                                            <div class="row mb15">
                                                <div class="col-md-3 ">
                                                    <div class="--text-grey lts1 ff-sfb text-uppercase">Модификация
                                                    </div>
                                                </div>
                                                <div class="col-md-9 ">
                                                    <div class="--text-lightblack lts1 ff-sfb text-uppercase">1.6 AT
                                                        Active+
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb15">
                                                <div class="col-md-3">
                                                    <p class="--text-grey mb0">Модель</p>
                                                    <p class="lts1 --text-lightblack fz16">1.6 л</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p class="--text-grey mb0">Коробка</p>
                                                    <p class="lts1 --text-lightblack fz16">Автомат</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p class="--text-grey mb0">Тип двигателя</p>
                                                    <p class="lts1 --text-lightblack fz16">бензин</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p class="--text-grey mb0">Разгон</p>
                                                    <p class="lts1 --text-lightblack fz16">13.5 с</p>
                                                </div>
                                            </div>
                                            <div class="row mb15">
                                                <div class="col-md-3">
                                                    <p class="--text-grey mb0">Мощность</p>
                                                    <p class="lts1 --text-lightblack fz16">103 л.с.</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p class="--text-grey mb0">Привод</p>
                                                    <p class="lts1 --text-lightblack fz16">Передний</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p class="--text-grey mb0">Топливо</p>
                                                    <p class="lts1 --text-lightblack fz16">АИ-95</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p class="--text-grey mb0">Расход</p>
                                                    <p class="lts1 --text-lightblack fz16">6.3 л</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="catalog-item__chars-tab-section">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb15">
                                                        <div class="col-xs-12">
                                                            <p class="--text-lightblack mb10 ff-sfb">Общая
                                                                информация</p>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Страна марки
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    Япония
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Сборка модели
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    Япония
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Класс автомобиля
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    С
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Количество дверей
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    4
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Количество мест
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    5
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb15">
                                                        <div class="col-xs-12">
                                                            <p class="--text-lightblack mb10 ff-sfb">Размеры, мм</p>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Длина
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    12123
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Ширина
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    12312
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Высота
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    123123
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Колёсная база
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    4123
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Клиренс
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    522
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Ширина передней колеи
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    522
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Ширина задней колеи
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    522
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Размер колес
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    522/123/R20
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb15">
                                                        <div class="col-xs-12">
                                                            <p class="--text-lightblack mb10 ff-sfb">Объем и масса</p>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Объем багажника мин/макс, л
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    12123
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Объем топливного бака, л
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    Снаряженная масса, кг
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Полная масса, кг
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    123123
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb15">
                                                        <div class="col-xs-12">
                                                            <p class="--text-lightblack mb10 ff-sfb">Трансмиссия</p>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Коробка передач
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    автомат
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    кол. передач
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    4
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Тип привода
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    передний
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb15">
                                                        <div class="col-xs-12">
                                                            <p class="--text-lightblack mb10 ff-sfb">Подвеска и
                                                                тормоза</p>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Тип передней подвески
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    независимая, пружинная
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Тип задней передачи
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    независимая пружинная
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Передние тормоза
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    дисковые вентилируемые
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Задние тормоза
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    дисковые
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mb15">
                                                        <div class="col-xs-12">
                                                            <p class="--text-lightblack mb10 ff-sfb">Эксплуатационные
                                                                показатели</p>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Максимальная скорость, км/ч
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    177
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Разгон до 100 км/ч
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    13.5 с
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Расход топлива, л город/трасса/смешанный
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    8.7/4.9/6.3
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Марка топлива
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    АИ-95
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Экологический класс
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    Euro 5
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb15">
                                                        <div class="col-xs-12">
                                                            <p class="--text-lightblack mb10 ff-sfb">Двигатель</p>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Тип двигателя
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    бензин
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Расположение двигателя
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    переднее, поперечное
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Объем двигателя, см <sup>3</sup>
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    1512
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Тип наддува
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    нет
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Максимальная мощность, л.с./кВт при об/мин
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    144/70 при 6000
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Максимальный крутящий момент, Н*м при об/мин
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    144 при 4000
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Расположение цилиндров
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    рядное
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Количество цилиндров
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    4
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Число клапанов на цилиндр
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    4
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Система питания двигателя
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    Распределенный впрыск (многоточечный)
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Степень сжатия
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    10
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Степень сжатия
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    10
                                                                </div>
                                                            </div>
                                                            <div class="row mb10">
                                                                <div class="col-md-6 --text-grey">
                                                                    Диаметр цилиндра и ход поршня, мм
                                                                </div>
                                                                <div class="col-md-6 --text-lightblack">
                                                                    78 х 83.6
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="catalog-tab3" class="tab-pane fade catalog-item__comments-tab">
                                        <div class="catalog-item__comments-units mb15">
                                            {% for i in 1..12 %}
                                                {% include 'elements/catalog-comment__tab-item.twig' %}
                                            {% endfor %}
                                        </div>
                                        {% include 'widgets/pagination.twig' %}
                                    </div>

                                    <div id="catalog-tab4" class="tab-pane fade">
                                        {% for i in 1..12 %}
                                            {% include 'elements/catalog-item__tab-reviews-item.twig' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}