{% extends "layouts/app.twig" %}

{% block content %}
	{% include "widgets/breadcrumbs.twig" %}

	<div class="content-area left-direction clearfix">
		<div class="container">
			<div class="row">
				<div class="content-area__left-side col-xs-12 col-md-9">
					<div class="content-area__item mb35">
						<div class="block-title text-uppercase">Продажа Mazda 3 в Москве</div>
						<div class="content-area__container display-flex flex-wrap">
							<div class="col-sm-8 col-xs-12 tab-content">
								{% for i in 1..10 %}
									<div class="tab-pane owl-carousel__parent-element fade {% if i == 1 %} active in{% endif %}"
											 id="auto-image-slider{{ i }}">
										{% include 'widgets/auto-slider.twig' %}
									</div>
								{% endfor %}
							</div>
							<div class="col-sm-4 col-xs-12 white-bg posr">
								<div class="row">
									<div class="auto-model__sliders-control-jsp" data-jsp>
										<ul class="clean-element auto-model__image-right-side__units">
											{% for i in 1..10 %}
												<li class="auto-model__image-right-side__item {% if i == 1 %} active{% endif %}">
													<a class="auto-model__image-right-side__link db hover-black__icon"
														 href="#auto-image-slider{{ i }}" data-toggle="tab">
														<p class="mb0 ff-sfb --text-lightblack text-uppercase">BM</p>
														<div class="display-flex space-between flex-middle">
															<p class="mb0 fz12 --text-grey">2013 - н.в.</p>
															<p><i class="icon-favorite fz16 --text-grey"></i>
															</p>
														</div>
													</a>
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="content-area__item mb35">
						<div class="content-area__container white-bg">
							<div class="content-area__section display-flex flex-wrap text-center mobile-display-block space-between flex-middle">
								<div class="dib --text-lightblack lts1 ff-sfb text-uppercase mobile-display-block">
									Найдено автомобилей<span class="hidden-xs"> данной модели</span>: 10
								</div>
								<div class="dib mobile-display-block">
									<a href="#" class="dib --text-grey lts1 ff-sfb text-uppercase hover-black__link-red-icon">
										<span class="dib">Перейти к объявлениям</span>
										<i class="icon-right_arrow fz12"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="content-area__item mb35">
						<div class="content-area__container white-bg">
							<div class="content-area__section text-left">
								<div class="row">
									<div class="col-sm-3 col-xs-12 auto-model__characters-tab__pags-wrapper">
										<p class="--text-lightblack lts1 ff-sfb text-uppercase mb0">
											Модификации
										</p>
										<ul class="clean-element auto-model__modification-listing">
											<li class="auto-model__modification-item">
												<p class="mb5 ff-sfb --text-grey text-uppercase lts1">active</p>
												<ul class="auto-model__modification-elements clean-element">
													<li class="auto-model__modification-element active">
														<a href="#"
															 class="auto-model__modification-element-link db text-uppercase --text-lightblack lts1">1.6
															at</a>
													</li>
													<li class="auto-model__modification-element">
														<a href="#"
															 class="auto-model__modification-element-link db text-uppercase --text-lightblack lts1">1.5
															at</a>
													</li>
												</ul>
											</li>
											<li class="auto-model__modification-item">
												<p class="mb5 ff-sfb --text-grey text-uppercase lts1">active plus</p>
												<ul class="auto-model__modification-elements clean-element">
													<li class="auto-model__modification-element">
														<a href="#"
															 class="auto-model__modification-element-link db text-uppercase --text-lightblack lts1">1.6
															at</a>
													</li>
													<li class="auto-model__modification-element">
														<a href="#"
															 class="auto-model__modification-element-link db text-uppercase --text-lightblack lts1">1.5
															at</a>
													</li>
												</ul>
											</li>
											<li class="auto-model__modification-item">
												<p class="mb5 ff-sfb --text-grey text-uppercase lts1">active sport</p>
												<ul class="auto-model__modification-elements clean-element">
													<li class="auto-model__modification-element">
														<a href="#"
															 class="auto-model__modification-element-link db text-uppercase --text-lightblack lts1">1.6
															at</a>
													</li>
													<li class="auto-model__modification-element">
														<a href="#"
															 class="auto-model__modification-element-link db text-uppercase --text-lightblack lts1">1.5
															at</a>
													</li>
													<li class="auto-model__modification-element">
														<a href="#"
															 class="auto-model__modification-element-link db text-uppercase --text-lightblack lts1">1.5
															at</a>
													</li>
													<li class="auto-model__modification-element">
														<a href="#"
															 class="auto-model__modification-element-link db text-uppercase --text-lightblack lts1">1.5
															at</a>
													</li>
													<li class="auto-model__modification-element">
														<a href="#"
															 class="auto-model__modification-element-link db text-uppercase --text-lightblack lts1">1.5
															at</a>
													</li>
													<li class="auto-model__modification-element">
														<a href="#"
															 class="auto-model__modification-element-link db text-uppercase --text-lightblack lts1">1.5
															at</a>
													</li>
													<li class="auto-model__modification-element">
														<a href="#"
															 class="auto-model__modification-element-link db text-uppercase --text-lightblack lts1">1.5
															at</a>
													</li>
													<li class="auto-model__modification-element">
														<a href="#"
															 class="auto-model__modification-element-link db text-uppercase --text-lightblack lts1">1.5
															at</a>
													</li>
													<li class="auto-model__modification-element">
														<a href="#"
															 class="auto-model__modification-element-link db text-uppercase --text-lightblack lts1">1.5
															at</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
									<div class="col-sm-9 col-xs-12 auto-model__characters-tab__wrapper">
										{% include 'widgets/auto-model__characters-tab.twig' with {"page": "auto-model"} %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="visible-sm clearfix mb35"></div>
				<div class="content-area__right-side col-md-3 col-xs-12 hidden-xs">
					<div class="content-area__right-side-item">
						{% include 'widgets/right-side__feedbacks.twig' %}
					</div>
					<div class="content-area__right-side-item hidden-sm hidden-xs">
						{% include 'widgets/right-side__fuel-price.twig' %}
					</div>
					<div class="content-area__right-side-item hidden-sm hidden-xs">
						{% include 'widgets/right-side__discussing-block.twig' %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}