{% extends "layouts/app.twig" %}

{# TODO сделать менюшку #}

{% block content %}
	{% include "widgets/breadcrumbs.twig" %}

	<div class="content-area clearfix">
		<div class="container">
			<div class="row">
				<div class="content-area__right-side col-md-3 col-xs-12 hidden-sm hidden-xs">
					<div class="content-area__right-side-item">
						{% include 'widgets/right-side__discussing-block.twig' %}
					</div>
					<div class="content-area__right-side-item hidden-sm hidden-xs">
						{% include 'widgets/right-side__fuel-price.twig' %}
					</div>
					<div class="content-area__right-side-item black-bg hidden-sm hidden-xs">
						{% include 'widgets/right-side__banner.twig' %}
					</div>
				</div>
				<div class="visible-sm visible-xs clearfix"></div>
				<div class="content-area__left-side col-xs-12 col-md-9">
					<div class="content-area__item mb35">
						<div class="block-title text-uppercase">Продажа Mazda 3 в Москве</div>
						<div class="content-area__container display-flex flex-wrap">
							<div class="col-sm-8 col-xs-12 owl-carousel__parent-element">
								{% include 'widgets/auto-slider.twig' %}
							</div>
							<div class="col-sm-4 col-xs-12 white-bg catalog-item__right-image-side">
								<div class="row mb20">
									<div class="col-xs-2">
										<div class="catalog-item__rating dib --text-lightblack ff-sfb">
											4.8
										</div>
									</div>
									<div class="col-xs-10 text-right">
										<div class="catalog-item__right-image-side__price ff-sfb fz16">
											<span class="dib">770 000 &#x20bd;</span> <i
													class="icon-down_arrow --text-grey fz10"></i>
										</div>
									</div>
								</div>
								<p class="--text-grey text-uppercase ff-sfb mb10">Автоспеццентр</p>
								<p class="mb10"><a href="#" class="--text-lightblack">+7 (495) 664 21 66</a></p>
								<p class="mb10 --text-lightblack">Москва, Севастопольский проспект, 56 А.</p>
								<div class="catalog-item__right-image-side__car-info">
									<div class="row mb10">
										<div class="col-xs-6 --text-grey">
											Модификация
										</div>
										<div class="col-xs-6 --text-lightblack ff-sfb">
											1.6 AT Active+
										</div>
									</div>
									<div class="row mb10">
										<div class="col-xs-6 --text-grey">
											Год
										</div>
										<div class="col-xs-6 --text-lightblack">
											2014
										</div>
									</div>
									<div class="row mb10">
										<div class="col-xs-6 --text-grey">
											Пробег
										</div>
										<div class="col-xs-6 --text-lightblack">
											68 000 км
										</div>
									</div>
									<div class="row mb10">
										<div class="col-xs-6 --text-grey">
											Кузов
										</div>
										<div class="col-xs-6 --text-lightblack">
											Седан
										</div>
									</div>
									<div class="row mb10">
										<div class="col-xs-6 --text-grey">
											Цвет
										</div>
										<div class="col-xs-6 --text-lightblack">
											Коричневый
										</div>
									</div>
								</div>
								<div class="catalog-item__right-image-side__bottom-info display-flex space-between">
									<div class="dib --text-grey">
										7 ноября
									</div>
									<div class="dib --text-grey hover-black__icon">
										<i class="icon-views fz24"></i> <span class="dib">186</span>
									</div>
									<div class="dib --text-grey hover-black__icon">
										<i class="icon-share fz16"></i> <span class="dib">93</span>
									</div>
									<div class="dib --text-grey hover-black__icon">
										<i class="icon-favorite fz16"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-area__item mb35">
						<div class="content-area__container white-bg">
							<div class="content-area__section text-center">
								<ul class="catalog-item__tabs-header dib ff-sfb clean-element mb35">
									<li class="catalog-item__tabs-item dib active">
										<a href="#catalog-tab1" class="catalog-item__tabs-link dib --text-grey --hover-text-black"
											 data-toggle="tab">Описание</a>
									</li>
									<li class="catalog-item__tabs-item dib">
										<a href="#catalog-tab2" class="catalog-item__tabs-link dib --text-grey --hover-text-black"
											 data-toggle="tab">Характеристики</a>
									</li>
									<li class="catalog-item__tabs-item dib">
										<a href="#catalog-tab3" class="catalog-item__tabs-link dib --text-grey --hover-text-black"
											 data-toggle="tab">Комментарии</a>
									</li>
									<li class="catalog-item__tabs-item dib">
										<a href="#catalog-tab4" class="catalog-item__tabs-link dib --text-grey --hover-text-black"
											 data-toggle="tab">Обзоры</a>
									</li>
								</ul>
								<div class="catalog-item__tabs-content tab-content text-left">
									<div class="catalog-item__tabs-content tab-content text-left">
										<div id="catalog-tab1" class="tab-pane active in fade">
											<div class="catalog-item__seller-comment mb35">
												<div
														class="catalog-item__seller-comment-title --text-lightblack ff-sfb mb10 text-uppercase lts1">
													Комментарий продавца
												</div>
												<div class="catalog-item__seller-comment-content">
													Мазда 3, 2014 модельного года, по птс 2013, мотор 1,6 (не
													Скайактив), 4х
													ступенчатый автомат с функцией ручного переключения передач.
													Комплектация Актив+, чехлы Dinas перфорированная кожа, защита
													двигателя,
													сигнализация Старлайн, автозапуск. В придачу Комплект зимних колес
													Нордман 4 на литых дисках. На гарантии, до декабря 2016г. Пройдено
													ТО,
													новые тормозные колодки в круг! Автомобиль полностью обслужен!Осмотр
													и
													диагностика в любом удобном для вас сервисе!
												</div>
											</div>
											<div class="--text-lightblack ff-sfb mb10 text-uppercase lts1">Комплектация
											</div>
											<div class="row">
												<div class="col-sm-6">
													<div class="catalog-item__additional-car-info">
														<p class="--text-grey lts1 ff-sfb">Безопасность</p>
														<p>Антиблокировочная система (ABS)</p>
														<p>Антипробуксовочная система</p>
														<p>Система стабилизации</p>
													</div>
													<div class="catalog-item__additional-car-info">
														<p class="--text-grey lts1 ff-sfb">Обзор</p>
														<p>Электроскладывание зеркал</p>
														<p>Электропривод зеркал</p>
														<p>Омыватель фар</p>
														<p>Датчик света</p>
														<p>Обогрев зеркал</p>
														<p>Ксенон / биксенон</p>
													</div>
													<div class="catalog-item__additional-car-info">
														<p class="--text-grey lts1 ff-sfb">Комфорт</p>
														<p>Климат-контроль 2-зонный</p>
														<p>Бортовой компьютер</p>
														<p>Электростеклоподъемники все</p>
														<p>Дистанционный запуск двигателя</p>
														<p>Обогрев сидений</p>
														<p>Тонированные стекла</p>
														<p>Усилитель руля</p>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="catalog-item__additional-car-info">
														<p class="--text-grey lts1 ff-sfb">Мультимедиа</p>
														<p>Штатная Аудиосистема с CD</p>
														<p>Гтатная аудиосистема с TV</p>
														<p>Штатная навигационная система</p>
													</div>
													<div class="catalog-item__additional-car-info">
														<p class="--text-grey lts1 ff-sfb">Салон</p>
														<p>Темный салон</p>
														<p>Тканевый салон</p>
														<p>Обогрев сидений</p>
													</div>
													<div class="catalog-item__additional-car-info">
														<p class="--text-grey lts1 ff-sfb">Экстерьер</p>
														<p>Легкосплавные диски 16"</p>
													</div>
												</div>
											</div>
										</div>
										<div id="catalog-tab2" class="tab-pane fade">
											{% include 'widgets/auto-model__characters-tab.twig' %}
										</div>
										<div id="catalog-tab3" class="tab-pane fade">
											{% include 'widgets/auto-model__comments-tab.twig' %}
											{% include 'widgets/pagination.twig' %}
										</div>
										<div id="catalog-tab4" class="tab-pane fade">
											{% include 'widgets/auto-model__reviews-tab.twig' %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="hidden-xs">
						{% include 'widgets/similar-cars.twig' %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}