{% extends "layouts/app.twig" %}

{% set header = "logged" %}

{% block content %}
	{% include "widgets/breadcrumbs.twig" %}

	<div class="content-area clearfix">
		<div class="container">
			<div class="row">
				<div class="content-area__right-side col-md-3 col-xs-12">
					<div class="content-area__right-side-item">
						{% include 'widgets/right-side__filter.twig' %}
					</div>
					<div class="content-area__right-side-item hidden-sm hidden-xs">
						{% include 'widgets/right-side__news-block.twig' %}
					</div>
					<div class="content-area__right-side-item black-bg hidden-sm hidden-xs">
						{% include 'widgets/right-side__banner.twig' %}
					</div>
				</div>
				<div class="visible-sm visible-xs clearfix"></div>
				<div class="content-area__left-side col-xs-12 col-md-9">
					<div class="block-title text-uppercase">Объявления</div>

					<div class="content-area__container white-bg">
						<form action="#" class="content-area__header content-area__section has-border-bottom filter-header">
							<select class="selectpicker mr15" data-width="fit">
								<option value="">По актуальности</option>
								<option value="">По актуальности</option>
								<option value="">По актуальности</option>
								<option value="">По актуальности</option>
								<option value="">По актуальности</option>
							</select>
							<select class="selectpicker mr15" data-width="fit">
								<option value="">За все время</option>
							</select>
							<select class="selectpicker" data-width="fit">
								<option value=""><span class="rouble">&#x20bd;</span></option>
								<option value="">$</option>
								<option value=""><span class="rouble">&#x20bd;</span></option>
								<option value="">$</option>
							</select>
						</form>
						<div class="content-area__section adv-grid__wrapper">
							<div class="adv-grid">
								{% for i in 1..7 %}
									<div class="row display-flex space-between mobile-display-block">
										{% for item in 1..3 %}
											{% include "elements/car-item.twig" %}
										{% endfor %}
									</div>
								{% endfor %}
							</div>
							{% include "widgets/pagination.twig" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}