{% extends "layouts/app.twig" %}

{% block content %}
	{% include "widgets/breadcrumbs.twig" with {'page': 'dealers'} %}

	<div class="content-area left-direction clearfix">
		<div class="container">
			<div class="row">
				<div class="content-area__left-side col-xs-12 col-md-9">
					<div class="display-flex space-between mb2 mobile-display-block">
						<div class="block-title mb0 text-uppercase vab dib flex-middle">Профиль компании</div>
						<div class="content-area__left-side__right-area text-uppercase ff-sfb dib mobile-text-right mobile-display-block">
							<ul class="clean-element content-block__tab-menu-listing fz0 lts1">
								<li class="content-block__tab-menu-item dib active">
									<a class="content-block__tab-menu-link fz14 --text-grey" href="#">Частным
										<span class="hidden-xs">клиентам</span></a>
								</li>
								<li class="content-block__tab-menu-item dib">
									<a class="content-block__tab-menu-link fz14 --text-grey" href="#">Компоративным
										<span class="hidden-xs">клиентам</span></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="content-area__container content-area__section white-bg">
						<div class="row display-flex flex-middle mb20 mobile-display-block mobile--mb10">
							<div class="col-sm-6 col-xs-12 mobile--mb10">
								<div class="catalog-item__rating ff-sfb dib --text-lightblack ml-minus-20 mr15">
									5.0
								</div>
								<div class="dib semi-title">независимость Mazda</div>
							</div>
							<div class="col-sm-6 col-xs-12 text-right mobile-text-left">
								Входит в холдинг: <span class="semi-title grey">Независимость авто</span>
							</div>
						</div>
						<div class="display-flex space-between flex-middle mb20 mobile-display-block">
							<div class="mobile--mb20">
								<p class="mb20 mobile--mb20">
									<a href="#" class="hover-black__icon --text-grey --hover-text-black">
										<i class="icon-favorite"></i> <span class="dib">Добавить в избранное</span>
									</a>
								</p>
								<p>
									<a href="#" class="empty-button black-border hover-red big-button absolute-icon mobile-display-block mobile-text-center button-spectial-suggestion">
										<i class="icon-like absolute fz20"></i>
										{# TODO заменить иконку#}
										<span class="dib text-uppercase">Индивидуальное предложение</span>
									</a>
								</p>
							</div>
							<div>
								<p class="mb20">
									<a href="#" class="empty-button grey text-center db absolute-icon">
										<i class="icon-ticket absolute"></i> <span class="dib lts1 text-uppercase">Официальный дилер</span>
									</a>
								</p>
								<p>
									<a href="#" class="empty-button grey text-center db absolute-icon">
										<i class="icon-ticket absolute"></i> <span class="dib lts1 text-uppercase">Сервисный центр</span>
									</a>
								</p>
							</div>
						</div>
						<div class="row mb35">
							<div class="col-sm-4 col-xs-12 mobile--mb20">
								<p class="mb20">
									<a href="#" class="empty-button filled-button db absolute-icon big-button hover-red">
										<i class="icon-test_drive absolute fz20"></i> <span
												class="dib text-uppercase">запись на тест-драйв</span>
									</a>
								</p>
								<p class="mb20">
									<a href="#" class="empty-button filled-button db absolute-icon big-button hover-red">
										<i class="icon-car absolute fz20"></i> <span class="dib text-uppercase">выкуп автомобиля</span>
									</a>
								</p>
								<p class="mb20">
									<a href="#" class="empty-button filled-button db absolute-icon big-button hover-red">
										<i class="icon-insurance absolute fz20"></i> <span class="dib text-uppercase">страхование</span>
									</a>
								</p>
								<p class="mb20">
									<a href="#" class="empty-button filled-button db absolute-icon big-button hover-red">
										<i class="icon-leasing absolute fz20"></i> <span class="dib text-uppercase">лизинг</span>
									</a>
								</p>
							</div>
							<div class="col-md-8 --text-grey">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci
									aperiam assumenda at distinctio, dolore dolorem dolores ea eaque eveniet ex fugit
									hic illo iusto laboriosam laborum molestiae necessitatibus nemo neque placeat
									possimus quaerat quam quos saepe sed sunt temporibus ullam unde veritatis
									voluptatibus! Beatae necessitatibus porro qui ratione recusandae!</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci
									aperiam assumenda at distinctio, dolore dolorem dolores ea eaque eveniet ex fugit
									hic illo iusto laboriosam laborum molestiae necessitatibus nemo neque placeat
									possimus quaerat quam quos saepe sed sunt temporibus ullam unde veritatis
									voluptatibus! Beatae necessitatibus porro qui ratione recusandae!</p>
							</div>
						</div>
						<div class="content-area__tabs text-center">
							<ul class="catalog-item__tabs-header dib ff-sfb clean-element mb35">
								<li class="catalog-item__tabs-item dib active">
									<a href="#dealers-tab1" class="catalog-item__tabs-link dib --text-grey --hover-text-black"
										 data-toggle="tab" aria-expanded="true">Контакты</a>
								</li>
								<li class="catalog-item__tabs-item dib">
									<a href="#dealers-tab2" class="catalog-item__tabs-link dib --text-grey --hover-text-black"
										 data-toggle="tab" aria-expanded="false">Услуги</a>
								</li>
								<li class="catalog-item__tabs-item dib">
									<a href="#dealers-tab3" class="catalog-item__tabs-link dib --text-grey --hover-text-black"
										 data-toggle="tab">Объявления</a>
								</li>
								<li class="catalog-item__tabs-item dib">
									<a href="#dealers-tab4" class="catalog-item__tabs-link dib --text-grey --hover-text-black"
										 data-toggle="tab">акции</a>
								</li>
								<li class="catalog-item__tabs-item dib">
									<a href="#dealers-tab5" class="catalog-item__tabs-link dib --text-grey --hover-text-black"
										 data-toggle="tab">Отзывы</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane fade in active text-left" id="dealers-tab1">
									<div class="display-flex space-between flex-end mb35 mobile-display-block">
										<div class="mobile--mb20">
											<p class="absolute-icon mb15 --text-lightblack">
												<i class="icon-location_pin fz16 absolute left0 --text-grey"></i> Москва,
												Ярославское шоссе, 27
											</p>
											<p class="absolute-icon mb15 --text-lightblack">
												<i class="icon-phone fz16 absolute left0 --text-grey"></i> +7 (495) 721 88 44
											</p>
											<p class="absolute-icon mb15 --text-lightblack">
												<i class="icon-email fz16 absolute left0 --text-grey"></i> info@mazdacenter.ru
											</p>
											<p class="absolute-icon mb15 --text-lightblack">
												<i class="icon-email fz16 absolute left0 --text-grey"></i>
												{# TODO заменить иконку#}
												<a class="--hover-text-black --text-lightblack"
													 href="http://www.mazdacenter.ru"
													 target="_blank">www.mazdacenter.ru</a>
											</p>
										</div>
										<div>
											<a href="#" class="empty-button filled-button big-button text-uppercase lts1 hover-red mobile-display-block">
												Обратная связь
											</a>
										</div>
									</div>
									<p class="semi-title grey">График работы</p>
									<div class="row mb20">
										<div class="col-sm-6 col-xs-12 mobile--mb10">
											<p class="semi-title mb10">Продажи</p>
											<div class="row mb10">
												<div class="col-xs-6 --text-grey">
													Понедельник - Пятница
												</div>
												<div class="col-xs-6 --text-lightblack">9:00 - 22:00</div>
											</div>
											<div class="row mb10">
												<div class="col-xs-6 --text-grey">
													Суббота
												</div>
												<div class="col-xs-6 --text-lightblack">9:00 - 22:00</div>
											</div>
											<div class="row mb10">
												<div class="col-xs-6 --text-grey">
													Воскресенье
												</div>
												<div class="col-xs-6 --text-lightblack">9:00 - 22:00</div>
											</div>
										</div>
										<div class="col-sm-6 col-xs-12">
											<p class="semi-title mb10">Сервисный центр</p>
											<div class="row mb10">
												<div class="col-xs-6 --text-grey">
													Понедельник - Пятница
												</div>
												<div class="col-xs-6 --text-lightblack">8:00 - 22:00</div>
											</div>
											<div class="row mb10">
												<div class="col-xs-6 --text-grey">
													Суббота
												</div>
												<div class="col-xs-6 --text-lightblack">8:00 - 22:00</div>
											</div>
											<div class="row mb10">
												<div class="col-xs-6 --text-grey">
													Воскресенье
												</div>
												<div class="col-xs-6 --text-lightblack">8:00 - 22:00</div>
											</div>
										</div>
									</div>
									{% include 'widgets/map-widget.twig' %}
								</div>
								<div class="tab-pane fade text-left" id="dealers-tab2">
									{% include 'widgets/b-services.twig' %}
								</div>
								<div class="tab-pane fade text-left owl-carousel__parent-element" id="dealers-tab3">
									<div class="display-flex space-between flex-middle mb10 mobile-display-block">
										<div class="semi-title mobile--mb10">объявления компании</div>
										<div>
											<ul class="clean-element content-block__tab-menu-listing dib fz0 lts1 mr30 mobile-no-mr mobile-small-tab-selectors mobile-display-flex space-between flex-wrap">
												<li class="content-block__tab-menu-item dib">
													<a data-toggle="tab"
														 class="content-block__tab-menu-link active-black fz14 --text-grey semi-title grey"
														 href="#adv-bl1">Новые</a>
												</li>
												<li class="content-block__tab-menu-item dib">
													<a data-toggle="tab"
														 class="content-block__tab-menu-link active-black fz14 --text-grey semi-title grey"
														 href="#adv-bl2">С пробегом</a>
												</li>
												<li class="content-block__tab-menu-item dib active">
													<a data-toggle="tab"
														 class="content-block__tab-menu-link active-black fz14 --text-grey semi-title grey"
														 href="#adv-bl3">Все</a>
												</li>
											</ul>
											<div class="dib vam fz0 hidden-xs">
												<div class="custom-carouse__prev black-style dib"><i class="icon-left_arrow"></i></div>
												<div class="custom-carouse__next black-style dib"><i class="icon-right_arrow"></i></div>
											</div>
										</div>
									</div>
									<div class="dealers-sliders tab-content">
										<div class="tab-pane fade" id="adv-bl1">
											<div class="row mb15">
												<div class="owl-carousel">
													{% for i in 1..12 %}
														{% include 'elements/car-item.twig' with { "full_width": "true", "no_margin": "true" } %}
													{% endfor %}
												</div>
											</div>
											<p class="text-right">
												<a href="#" class="semi-title grey hover-black__link-red-icon">
													<span class="dib">Все объявления</span>
													<i class="icon-right_arrow icon-top-minus-1"></i>
												</a>
											</p>
										</div>
										<div class="tab-pane fade" id="adv-bl2">
											<div class="row mb15">
												<div class="owl-carousel">
													{% for i in 1..12 %}
														{% include 'elements/car-item.twig' with { "full_width": "true", "no_margin": "true" } %}
													{% endfor %}
												</div>
											</div>
											<p class="text-right">
												<a href="#" class="semi-title grey hover-black__link-red-icon">
													<span class="dib">Все объявления</span>
													<i class="icon-right_arrow icon-top-minus-1"></i>
												</a>
											</p>
										</div>
										<div class="tab-pane fade in active" id="adv-bl3">
											<div class="row mb15">
												<div class="owl-carousel">
													{% for i in 1..12 %}
														{% include 'elements/car-item.twig' with { "full_width": "true", "no_margin": "true" } %}
													{% endfor %}
												</div>
											</div>
											<p class="text-right">
												<a href="#" class="semi-title grey hover-black__link-red-icon">
													<span class="dib">Все объявления</span>
													<i class="icon-right_arrow icon-top-minus-1"></i>
												</a>
											</p>
										</div>
									</div>
								</div>
								<div class="tab-pane fade text-left owl-carousel__parent-element" id="dealers-tab4">
									<div class="display-flex space-between flex-middle mb10 mobile-display-block">
										<div class="semi-title mobile--mb10">объявления компании</div>
										<div class="dib vam fz0 mobile-display-block mobile-text-right">
											<div class="custom-carouse__prev black-style dib"><i class="icon-left_arrow"></i></div>
											<div class="custom-carouse__next black-style dib"><i class="icon-right_arrow"></i></div>
										</div>
									</div>
									<div class="dealers-sliders">
										<div class="row mb15">
											<div class="owl-carousel">
												{% for i in 1..12 %}
													{% include 'elements/car-item__short.twig' with { "full_width": "true", "no_margin": "true" } %}
												{% endfor %}
											</div>
										</div>
										<p class="text-right">
											<a href="#" class="semi-title grey hover-black__link-red-icon">
												<span class="dib">Все акции</span>
												<i class="icon-right_arrow icon-top-minus-1"></i>
											</a>
										</p>
									</div>
								</div>
								<div class="tab-pane fade text-left" id="dealers-tab5">
									<div class="text-right mb15">
										<a href="#" class="empty-button filled-button big-button hover-red lts1 text-uppercase mobile-display-block">Добавить
											отзыв</a>
									</div>
									<div class="dealers-feedbacks__units last-child-no-mb">
										{% for i in 1..10 %}
											{% include 'elements/dealers-feedbacks__item.twig' %}
										{% endfor %}
									</div>
									{% include 'widgets/pagination.twig' %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="visible-sm visible-xs clearfix mb35"></div>
				<div class="content-area__right-side col-md-3 col-xs-12 hidden-xs">
					<div class="content-area__right-side-item hidden-xs">
						{% include 'widgets/right-side__news-block.twig' %}
					</div>
					<div class="content-area__right-side-item hidden-sm hidden-xs">
						{% include 'widgets/right-side__discussing-block.twig' %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}