<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	{% include 'layouts/stylesheets.twig' %}
</head>
<body>
<div class="container" style="margin-top:150px; margin-bottom: 150px; font-size: 50px">
	<!-- START icons start -->

	<i class="icon-actions"></i>
	<i class="icon-car"></i>
	<i class="icon-checked-mark"></i>
	<i class="icon-comments"></i>
	<i class="icon-double_arrow"></i>
	<i class="icon-double_arrow_back"></i>
	<i class="icon-down_arrow"></i>
	<i class="icon-email"></i>
	<i class="icon-facebook"></i>
	<i class="icon-favorite"></i>
	<i class="icon-forward-arrow"></i>
	<i class="icon-google_plus"></i>
	<i class="icon-instagram"></i>
	<i class="icon-insurance"></i>
	<i class="icon-leasing"></i>
	<i class="icon-left_arrow"></i>
	<i class="icon-left-right"></i>
	<i class="icon-like"></i>
	<i class="icon-location_pin"></i>
	<i class="icon-more"></i>
	<i class="icon-none_avatar"></i>
	<i class="icon-notifications"></i>
	<i class="icon-page_not_find_icon"></i>
	<i class="icon-phone"></i>
	<i class="icon-photo-camera"></i>
	<i class="icon-pinterest"></i>
	<i class="icon-plus"></i>
	<i class="icon-rate"></i>
	<i class="icon-remove"></i>
	<i class="icon-right_arrow"></i>
	<i class="icon-road"></i>
	<i class="icon-sale_car"></i>
	<i class="icon-send"></i>
	<i class="icon-service"></i>
	<i class="icon-settings"></i>
	<i class="icon-share"></i>
	<i class="icon-test_drive"></i>
	<i class="icon-ticket"></i>
	<i class="icon-tumblr"></i>
	<i class="icon-twitter"></i>
	<i class="icon-umbrella"></i>
	<i class="icon-up_arrow"></i>
	<i class="icon-views"></i>
	<i class="icon-wheel"></i>
	<i class="icon-wrench"></i>
	<i class="icon-youtube"></i>
	<i class="icon-zoom"></i>

	<!-- // END icons start -->
</div>
</body>
</html>