{% extends "layouts/app.twig" %}

{% block content %}
	{% include "widgets/breadcrumbs.twig" %}

	<div class="content-area left-direction clearfix">
		<div class="container">
			<div class="row">
				<div class="content-area__left-side col-xs-12 col-md-9 mb35">
					<div class="content-area__item mb35">
						<div class="display-flex space-between mb2 flex-middle">
							<div>
								<div class="block-title mb0 text-uppercase dib mr15">новости</div>
								<div class="dib hidden-xs">
									<a href="#" class="semi-title --text-grey grey trans">
										<span class="dib">Все новости</span>
										<i class="icon-right_arrow fz10"></i>
									</a>
								</div>
							</div>
							<div class="content-area__left-side__right-area text-uppercase ff-sfb dib flex-middle">
								<ul class="clean-element content-block__tab-menu-listing fz0 lts1">
									<li class="content-block__tab-menu-item dib active">
										<a class="content-block__tab-menu-link fz14 --text-grey" href="#">авто</a>
									</li>
									<li class="content-block__tab-menu-item dib">
										<a class="content-block__tab-menu-link fz14 --text-grey" href="#">марка</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="content-area__container">
							{% include 'widgets/main-page__news-grid.twig' %}
						</div>
					</div>

					<div class="content-area__item main-page__catalog-preview mb35">
						<div class="display-flex space-between mb10 flex-middle mobile-display-block">
							<div>
								<div class="block-title mb0 text-uppercase dib mr15 mobile--mb10">Превью каталога</div>
							</div>
							<div>
								<select class="selectpicker" title="Выберите марку">
									<option value="">Мазда 3</option>
									<option value="">Мазда 3</option>
									<option value="">Мазда 3</option>
									<option value="">Мазда 3</option>
									<option value="">Мазда 3</option>
									<option value="">Мазда 3</option>
									<option value="">Мазда 3</option>
								</select>
							</div>
						</div>
						<div class="content-area__container white-bg">
							<div class="content-area__section">
								<div class="grey-border-bottom mb20">
									<div class="row">
										<div class="col-sm-6 mb20">
											<img src="http://placehold.it/410x250" alt="" class="full-width">
										</div>
										<div class="col-sm-6 mb20">
											<p class="semi-title">Mazda</p>
											<div class="main-page__car-params mb15 last-child-no-mb">
												<div class="display-flex space-between row">
													<div class="--text-grey col-xs-6">
														Кузов:
													</div>
													<div class="--text-lightblack col-xs-6 text-right">
														Внедорожник, 5 дв.
													</div>
												</div>
												<div class="display-flex space-between row">
													<div class="--text-grey col-xs-6">
														Двигатель:
													</div>
													<div class="--text-lightblack col-xs-6 text-right">
														2.5 л / бензин
													</div>
												</div>
												<div class="display-flex space-between row">
													<div class="--text-grey col-xs-6">
														Мощность:
													</div>
													<div class="--text-lightblack col-xs-6 text-right">
														250 л.с.
													</div>
												</div>
												<div class="display-flex space-between row">
													<div class="--text-grey col-xs-6">
														Коробка:
													</div>
													<div class="--text-lightblack col-xs-6 text-right">
														Автоматическая
													</div>
												</div>
												<div class="display-flex space-between row">
													<div class="--text-grey col-xs-6">
														Привод:
													</div>
													<div class="--text-lightblack col-xs-6 text-right">
														Полный
													</div>
												</div>
												<div class="display-flex space-between row">
													<div class="--text-grey col-xs-6">
														Разгон до 100 км:
													</div>
													<div class="--text-lightblack col-xs-6 text-right">
														10.1 с
													</div>
												</div>
												<div class="display-flex space-between row">
													<div class="--text-grey col-xs-6">
														Макс. скорость:
													</div>
													<div class="--text-lightblack col-xs-6 text-right">
														198 км/ч
													</div>
												</div>
												<div class="display-flex space-between row">
													<div class="--text-grey col-xs-6">
														<span class="dib">Расход топлива</span>
														<span class="dib">город / шоссе / микс:</span>
													</div>
													<div class="--text-lightblack col-xs-6 text-right">
														15.4 / 9 / 11.3 л.
													</div>
												</div>
											</div>

											<div class="text-right">
												<a href="#"
													 class="text-uppercase ff-sfb --text-grey hover-black__link-red-icon">
													<span class="dib">Все характеристики</span>
													<span class="icon-plus fz10 dib"></span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="row mb35 hidden-xs">
									<div class="col-sm-6">
										<div class="row mb10">
											<div class="col-xs-6 --text-lightblack text-uppercase ff-sfb">
												Обзоры
											</div>
											<div class="col-xs-6 text-right">
												<a href="#" class="--text-grey text-uppercase ff-sfb grey-underline-text --hover-text-black">все
													Обзоры</a> (61)
											</div>
										</div>
										<p class="--text-lightblack text-uppercase ff-sfb">Антон воронков</p>
										<p class="--text-grey text-right">20 июля 2016</p>
										<div class="main-page__user-activity-content --text-lightblack mb10">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut beatae cumque dicta
												dolorem, dolores ea enim eos, eum facilis laudantium, nemo neque obcaecati officiis perspiciatis
												quo sit tempora voluptatem.</p>
										</div>
										<div class="text-right mb10">
											<a href="#" class="text-uppercase --text-grey lts1 ff-sfb hover-black__link-red-icon">
												<span class="dib fz14 mr10">подробнее</span> <i class="icon-plus fz12"></i>
											</a>
										</div>
										<div class="text-center">
											<a href="#" class="empty-button black-border text-uppercase lts2 big-button hover-red">Добавить
												отзыв</a>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="row mb10">
											<div class="col-xs-6 --text-lightblack text-uppercase ff-sfb">
												Обзоры
											</div>
											<div class="col-xs-6 text-right">
												<a href="#" class="--text-grey text-uppercase ff-sfb grey-underline-text --hover-text-black">все
													Обзоры</a> (61)
											</div>
										</div>
										<p class="--text-lightblack text-uppercase ff-sfb">Антон воронков</p>
										<p class="--text-grey text-right">20 июля 2016</p>
										<div class="main-page__user-activity-content --text-lightblack mb10">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut beatae cumque dicta
												dolorem, dolores ea enim eos, eum facilis laudantium, nemo neque obcaecati officiis perspiciatis
												quo sit tempora voluptatem.</p>
										</div>
										<div class="text-right mb10">
											<a href="#" class="text-uppercase --text-grey lts1 ff-sfb hover-black__link-red-icon">
												<span class="dib fz14 mr10">подробнее</span> <i class="icon-plus fz12"></i>
											</a>
										</div>
										<div class="text-center">
											<a href="#" class="empty-button black-border text-uppercase lts2 big-button hover-red">Добавить
												отзыв</a>
										</div>
									</div>
								</div>
								<div class="row">
									<a href="#" class="col-sm-4 dib col-xs-12 mb20">
										<img src="http://placehold.it/300x200" class="full-width mb10" alt="">
										<p class="--text-lightblack ff-sfb">Lorem ipsum dolor sit amet.</p>
									</a>
									<a href="#" class="col-sm-4 dib col-xs-12 mb20">
										<img src="http://placehold.it/300x200" class="full-width mb10" alt="">
										<p class="--text-lightblack ff-sfb">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</p>
									</a>
									<a href="#" class="col-sm-4 dib col-xs-12 mb20">
										<img src="http://placehold.it/300x200" class="full-width mb10" alt="">
										<p class="--text-lightblack ff-sfb">Lorem ipsum dolor sit amet.</p>
									</a>
								</div>
								<div class="text-center">
									<a href="#" class="filled-button lts1 hover-red text-uppercase big-button">Больше акций</a>
								</div>
							</div>
						</div>
					</div>
					<div class="content-area__item mb35">
						<div class="content-area__container text-justify white-color">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquam aspernatur cum, deleniti et
								facilis omnis quae sed sit temporibus veniam vitae voluptas voluptate? Accusamus amet assumenda at
								corporis debitis earum ex excepturi, exercitationem iste laborum molestias necessitatibus nemo nostrum
								odit pariatur vel voluptatem. Adipisci alias amet blanditiis deserunt eaque est et explicabo id illo in
								ipsam, laudantium non odit omnis optio perferendis quia quis quos reiciendis, rerum, vel vero voluptate!
								Accusantium dignissimos, dolor dolorem eligendi, enim excepturi expedita facere id impedit labore
								necessitatibus nihil obcaecati perspiciatis possimus quasi quisquam quo reiciendis repellat repellendus
								repudiandae unde ut voluptates. Ab, asperiores.</p>
						</div>
					</div>
					<div class="content-area__item mb35">
						<div class="text-left owl-carousel__parent-element">
							<div class="display-flex space-between flex-middle mb10 mobile-display-block">
								<div>
									<div class="block-title mb0 text-uppercase dib mr15">объявления</div>
									<div class="dib hidden-xs">
										<a href="#" class="semi-title --text-grey grey trans">
											<span class="dib">Все новости</span>
											<i class="icon-right_arrow fz10"></i>
										</a>
									</div>
								</div>
								<div class="text-right">
									<ul class="clean-element content-block__tab-menu-listing dib fz0 lts1 mr30 mobile-no-mr">
										<li class="content-block__tab-menu-item dib active">
											<a data-toggle="tab"
												 class="content-block__tab-menu-link fz14 --text-grey semi-title grey"
												 href="#adv-bl1">Новые</a>
										</li>
										<li class="content-block__tab-menu-item dib">
											<a data-toggle="tab"
												 class="content-block__tab-menu-link fz14 --text-grey semi-title grey"
												 href="#adv-bl2">С пробегом</a>
										</li>
									</ul>
									<div class="dib vam fz0 hidden-xs">
										<div class="custom-carouse__prev dib"><i class="icon-left_arrow"></i></div>
										<div class="custom-carouse__next dib"><i class="icon-right_arrow"></i></div>
									</div>
								</div>
							</div>
							<div class="dealers-sliders tab-content">
								<div class="tab-pane fade active in" id="adv-bl1">
									<div class="row mb15">
										<div class="owl-carousel">
											{% for i in 1..12 %}
												{% include 'elements/car-item.twig' with { "full_width": "true", "no_margin": "true", "white_inside": "true" } %}
											{% endfor %}
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="adv-bl2">
									<div class="row mb15">
										<div class="owl-carousel">
											{% for i in 1..12 %}
												{% include 'elements/car-item.twig' with { "full_width": "true", "no_margin": "true", "white_inside": "true" } %}
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="content-area__item mb35">
						<div class="mobile-display-block row display-flex space-between flex-wrap">
							<div class="col-sm-8">
								<div class="text-left owl-carousel__parent-element">
									<div class="display-flex space-between flex-middle mb10">
										<div>
											<a href="#"
												 class="empty-button text-uppercase lts2 ff-sfb white white-type big-button hover-red mobile-no-lts mobile-small-paddings">Добавить
												событие</a>
										</div>
										<div>
											<div class="dib vam fz0">
												<div class="custom-carouse__prev dib"><i class="icon-left_arrow"></i></div>
												<div class="custom-carouse__next dib"><i class="icon-right_arrow"></i></div>
											</div>
										</div>
									</div>
									<div class="main-page__add-event">
										<div class="owl-carousel white-bg" data-items="1">
											{% for i in 1..10 %}
												{% include 'elements/main-page__event-item.twig' %}
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4 main-page__join-club">
								<div class="visible-xs mb20"></div>
								<div class="block-title mb2 visible-xs">Партнерство</div>
								<div class="content-area__section white-bg height100">
									<div class="grey-border-bottom mb30">
										<div class="join-club__title fz24 lts2 ff-sfb text-uppercase --text-lightblack text-center mb10">
											Хотите стать
											партнером
											клуба?
										</div>
										<div class="text-right mb30">
											<a href="#" class="text-uppercase --text-grey lts1 ff-sfb hover-black__link-red-icon">
												<span class="dib fz14 mr5">подробнее</span> <i class="icon-plus fz12"></i>
											</a>
										</div>
									</div>
									<div class="text-center">
										<a href="#" class="filled-button big-button hover-red small-paddings text-uppercase lts1">присоединиться</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="content-area__item mb35">
						<div class="mb2">
							<div class="block-title mb0 text-uppercase dib mr15 mobile-no-mr">Последние оцененные дилеры</div>
							<div class="dib hidden-xs">
								<a href="#" class="semi-title --text-grey grey trans">
									<span class="dib">все дилеры</span>
									<i class="icon-right_arrow fz10"></i>
								</a></div>
						</div>
						<div class="main-page__rated-dealers">
							<div class="row">
								{% for i in 1..3 %}
									{% include 'elements/main-page__rated-dialers-item.twig' %}
								{% endfor %}
							</div>
						</div>
						<div class="text-right visible-xs">
							<div class="mb5"></div>
							<a href="#" class="semi-title --text-grey grey trans">
								<span class="dib">Все дилеры</span>
								<i class="icon-right_arrow fz10"></i>
							</a>
						</div>
					</div>

					<div class="content-area__item mb35">
						<div class="block-title">Карта дилеров</div>

						{% include 'widgets/map-widget.twig' with {"height": "height500"} %}
					</div>

					<div class="content-area__item mb35">
						<div class="content-area__container text-justify white-color">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquam aspernatur cum, deleniti et
								facilis omnis quae sed sit temporibus veniam vitae voluptas voluptate? Accusamus amet assumenda at
								corporis debitis earum ex excepturi, exercitationem iste laborum molestias necessitatibus nemo nostrum
								odit pariatur vel voluptatem. Adipisci alias amet blanditiis deserunt eaque est et explicabo id illo in
								ipsam, laudantium non odit omnis optio perferendis quia quis quos reiciendis, rerum, vel vero voluptate!
								Accusantium dignissimos, dolor dolorem eligendi, enim excepturi expedita facere id impedit labore
								necessitatibus nihil obcaecati perspiciatis possimus quasi quisquam quo reiciendis repellat repellendus
								repudiandae unde ut voluptates. Ab, asperiores.</p>
						</div>
					</div>
				</div>
				<div class="visible-sm visible-xs clearfix"></div>
				<div class="content-area__right-side col-md-3 col-xs-12">
					<div class="row display-flex flex-wrap">
						<div class="content-area__right-side-item col-xs-12 hidden-xs">
							{% include 'widgets/right-side__discussing-block.twig' %}
						</div>
						<div class="content-area__right-side-item full-white-bg col-md-12 col-xs-12 col-sm-8 col-md-12 hidden-xs">
							{% include 'widgets/right-side__new-faces.twig' %}
						</div>
						<div class="content-area__right-side-item full-white-bg no-buttons col-md-12 col-xs-12 col-sm-4">
							{% include 'widgets/right-side__fuel-price.twig' %}
						</div>
						<div class="content-area__right-side-item col-md-12 col-xs-12 col-sm-4 hidden-xs">
							{% include 'widgets/right-side__banner.twig' %}
						</div>
						<div class="content-area__right-side-item full-white-bg col-md-12 col-xs-12 col-sm-4 hidden-xs">
							{% include 'widgets/right-side__questionary.twig' %}
						</div>
						<div class="content-area__right-side-item full-white-bg col-md-12 col-xs-12 col-sm-4 hidden-xs">
							{% include 'widgets/right-side__road-rules.twig' %}
						</div>
						<div class="content-area__right-side-item col-md-12 col-xs-12">
							{% include 'widgets/right-side__media.twig' %}
						</div>
						<div class="col-xs-12">
							<a href="#"
								 class="filled-button big-button white-bg db lts1 text-uppercase --text-lightblack hover-red small-paddings">Создать
								обсуждение</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}