<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="row lts1">
                        <div class="col-sm-4">
                            <ul class="footer-menu text-uppercase clean-element ff-sfb">
                                <li class="footer-menu__first-item mb20">
                                    <a class="footer-menu__first-link"  href="#">Компании</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a class="footer-menu__link" href="#">холдинги</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a class="footer-menu__link" href="#">Акции компаний</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a class="footer-menu__link"  href="#">Каталог компаний</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="footer-menu text-uppercase clean-element ff-sfb">
                                <li class="footer-menu__first-item mb20"><a class="footer-menu__first-link" href="#">Социум</a>
                                </li>
                                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Новости</a></li>
                                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Статьи</a></li>
                                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Обзоры</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="footer-menu text-uppercase clean-element ff-sfb">
                                <li class="footer-menu__first-item mb20">
                                    <a class="footer-menu__first-link" href="#">Автомобили</a>
                                </li>
                                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Каталог авто</a>
                                </li>
                                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Объявления</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-right hidden-sm hidden-xs">
                    <a href="#" class="empty-button red-border big-button lts1 text-uppercase white-color hover-red">Сообщить об ошибке</a>
                </div>
            </div>
            <div class="footer-soc__wrapper text-right">
                <ul class="footer-soc mobile-display-flex clean-element space-between">
                    <li class="footer-soc__item dib">
                        <a href="#" class="footer-soc__link --text-grey"><i class="icon-facebook"></i></a>
                    </li>
                    <li class="footer-soc__item dib">
                        <a href="#" class="footer-soc__link --text-grey"><i class="icon-google_plus"></i></a>
                    </li>
                    <li class="footer-soc__item dib">
                        <a href="#" class="footer-soc__link --text-grey"><i class="icon-youtube"></i></a>
                    </li>
                    <li class="footer-soc__item dib">
                        <a href="#" class="footer-soc__link --text-grey"><i class="icon-twitter"></i></a>
                    </li>
                    <li class="footer-soc__item dib">
                        <a href="#" class="footer-soc__link --text-grey"><i class="icon-tumblr"></i></a>
                    </li>
                    <li class="footer-soc__item dib">
                        <a href="#" class="footer-soc__link --text-grey"><i class="icon-pinterest"></i></a>
                    </li>
                    <li class="footer-soc__item dib">
                        <a href="#" class="footer-soc__link --text-grey"><i class="icon-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <ul class="footer-bottom__menu text-uppercase clean-element ff-sfb fz12 lts1">
                        <li class="footer-bottom__item dib"><a href="#" class="footer-bottom__link --text-grey">Правила и условия</a></li>
                        <li class="footer-bottom__item dib">
                            <a href="#" class="footer-bottom__link --text-grey">политика конфиденциальности</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="copy-text text-uppercase text-right fz10 ff-sfb lts1">&copy; 2016 АвтоКлуб любителей Mazda. Все права защищены.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>