<header class="top-line text-right">
    <div class="grey-plate">
        <div class="container">
            <div class="dib">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <div class="dib">
                <a href="#" class="empty-button text-uppercase">Вход</a>
            </div>
        </div>
    </div>
    <div class="black-plate">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo-area">
                        <a href="#" class="b-logo__club text-uppercase">
                            АВТОКЛУБ ЛЮБИТЕЛЕЙ МАЗДА
                        </a>
                        <a href="#" class="b-logo__mazda">
                            <img src="images/logo-mazda.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 text-right">
                    <nav class="header-menu text-uppercase dib">
                        <a href="#" class="header-menu__link">Компании</a>
                        <a href="#" class="header-menu__link">Социум</a>
                        <a href="#" class="header-menu__link">Автомобили</a>
                    </nav>
                    <div class="dib header-forum-link">
                        <a href="#" class="empty-button white text-uppercase">Форму</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>